div#page {
    position: relative;
}

/*.node-activite .field-type-image {*/
    /*margin: 0 !important;*/
/*}*/

/*.node-activite .field-type-image img {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

/*.node-activite .field-type-number-float {*/
    /*float: right;*/
    /*transform: translateY(-100%);*/
    /*padding: 15px 50px;*/
    /*color: #ffffff;*/
    /*background-color: #00000087;*/
    /*text-align: center;*/
    /*border-top-left-radius: 50px;*/
    /*box-shadow: -1px -1px 5px #00000087;*/
/*}*/

/*.node-activite .field-type-number-float h3.field-label{*/
    /*font-weight: normal;*/
    /*font-size: 14px;*/
/*}*/
/*.node-activite .field-type-number-float div.field-items{*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*margin-top: 10px;*/
/*}*/

/*.node-activite .field-type-text-with-summary {*/
    /*max-width: 1000px;*/
    /*margin: 50px auto;*/
/*}*/

.node-activite {
    margin-bottom: 50px !important;
}

.node-activite .node-content {
    display: grid;
    grid-template-areas:
            "a a a a a a"
            ". b b b b ."
            ". c c c d ."
            ". e e e e ."
            ". f f f f ."
            ". g g g g ."
            ". h h h h .";
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    /*grid-gap: 50px 0;*/
    align-items: center;
    /*justify-items: center;*/
}

.node-activite .field-name-field-img-activite {
    grid-area: a;
    margin: 0 !important;
    width: 100%;
}
.node-activite .field-name-body {
    grid-area: b;
    margin: 50px 0;
}
.node-activite .field-name-field-prestation-base {
    grid-area: c;
}
.node-activite fieldset.group-price {
    grid-area: d;
}
.node-activite fieldset.group-options {
    grid-area: e;
}
.node-activite .field-name-field-memory-opinion {
    grid-area: f;
}
.node-activite .field-name-field-photo {
    grid-area: g;
}
.node-activite .field-name-field-video {
    grid-area: h;
}

.node-activite .field-name-field-img-activite img {
    width: 100%;
    height: auto;
}

.node-activite .field-name-body,
.node-activite .field-name-field-prestation-base,
.node-activite fieldset.group-options,
.node-activite .field-name-field-memory-opinion,
.node-activite .field-name-field-photo {
    margin: 40px 10px;
    text-align: justify;
}

.node-activite .field-name-body > h3,
.node-activite .field-name-field-prestation-base > h3,
.node-activite fieldset.group-options .field-name-field-titre-option .field-item,
.node-activite .field-name-field-memory-opinion > h3 {
    color: #26C6DA;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    padding-bottom: 5px !important;
    font-weight: bold;
}

.node-activite .field-name-field-memory-opinion > h3 {
    border-bottom: 1px solid #26C6DA;
}

.node-activite .field-name-field-price-activite > h3 {
    margin-bottom: 10px;
}

.node-activite .field-name-field-price-prefix > div.field-items {
    color: #26C6DA;
}
.node-activite .field-name-field-price-activite > div.field-items {
    font-size: 25px;
    /* text-align: center; */
    font-weight: bold;
    line-height: 1;
    color: #26C6DA;
}
.node-activite .field-name-field-price-precision > div.field-items {
    font-size: 12px;
    font-style: italic;
    color: #26C6DA;
}

/* Fieldset price */
.node-activite .group-price {
    border: none;
    padding: 0;
    margin: 0;
}
.node-activite .group-price > legend {
    display: none;
}

.node-activite .group-price .fieldset-content {
    display: grid;
    grid-template-areas: "a b" "c c";
}

.node-activite .field-name-field-price-prefix {
    grid-area: a;
    text-align: right;
    display: grid;
    padding-right: 5px;
    align-items: flex-end;
    justify-items: end;
}
.node-activite .field-name-field-price-activite {
    grid-area: b;
    text-align: left;
    display: grid;
    padding-left: 5px;
    align-items: flex-end;
    justify-items: start;
}
.node-activite .field-name-field-price-precision {
    grid-area: c;
    width: 175px;
    margin: 10px auto auto auto;
}

/* Options */
.node-activite .group-options .paragraphs-item-activity-options > .content {
    display: grid;
    grid-template-areas:
            "a a a a"
            "b b b c";
    grid-template-columns: repeat(4, 1fr);
    /*justify-items: center;*/
    align-items: center;
}
.node-activite .group-options .paragraphs-item-activity-options > .content > .field-name-field-titre-option {
    grid-area: a;
}
.node-activite .group-options .paragraphs-item-activity-options > .content > .field-name-field-texte-option {
    grid-area: b;
}
.node-activite .group-options .paragraphs-item-activity-options > .content > .field-name-field-prix-option {
    grid-area: c;
}

.node-activite fieldset.group-options {
    border: none;
    border-left: 10px solid #26c6da26;
    padding: 25px 0 0 25px;
}
.node-activite fieldset.group-options.collapsed {
    border: none;
    padding: 25px 0 0 0;
}
.node-activite fieldset.group-options > legend a  {
    font-size: 20px;
    color: #bebebe;
    font-weight: bold;
}

.node-activite .group-options .field-name-field-options > div > div.field-item {
    margin-bottom: 40px;
}
.node-activite .group-options .field-name-field-options > div > div.field-item:last-of-type {
    margin-bottom: 0;
}
.node-activite .group-options .paragraphs-item-activity-options > .content > .field-name-field-titre-option .field-item {
    margin-bottom: 20px !important;
}
.node-activite .group-options .paragraphs-item-activity-options > .content > .field-name-field-prix-option .field-item {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    color: #26C6DA;
}

/* Media - Image */
.node-activite .field-name-field-photo img {
    width: 100%;
    height: auto;
}

/* Media - Video */
.node-activite .field-name-field-video {
    margin: 40px auto;
}