div#page {
    position: relative;
}

/*.node-activite .field-type-image {*/
    /*margin: 0 !important;*/
/*}*/

/*.node-activite .field-type-image img {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

/*.node-activite .field-type-number-float {*/
    /*float: right;*/
    /*transform: translateY(-100%);*/
    /*padding: 15px 50px;*/
    /*color: #ffffff;*/
    /*background-color: #00000087;*/
    /*text-align: center;*/
    /*border-top-left-radius: 50px;*/
    /*box-shadow: -1px -1px 5px #00000087;*/
/*}*/

/*.node-activite .field-type-number-float h3.field-label{*/
    /*font-weight: normal;*/
    /*font-size: 14px;*/
/*}*/
/*.node-activite .field-type-number-float div.field-items{*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*margin-top: 10px;*/
/*}*/

/*.node-activite .field-type-text-with-summary {*/
    /*max-width: 1000px;*/
    /*margin: 50px auto;*/
/*}*/

.node-activite {
    margin-bottom: 50px !important;
}

.node-activite .node-content {
    display: grid;
    grid-template-areas:
            "a a a a a a"
            ". b b b b ."
            ". c c c d ."
            ". e e e e .";
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-gap: 50px 0;
    align-items: center;
    justify-items: center;
}

.node-activite .field-name-field-img-activite {
    grid-area: a;
    margin: 0 !important;
    width: 100%;
}
.node-activite .field-name-body {
    grid-area: b;
    margin: 50px 0;
}
.node-activite .field-name-field-prestation-base {
    grid-area: c;
}
.node-activite .field-name-field-price-activite {
    grid-area: d;
}
.node-activite .field-name-field-memory-opinion {
    grid-area: e;
}

.node-activite .field-name-field-img-activite img {
    width: 100%;
    height: auto;
}

.node-activite .field-name-body,
.node-activite .field-name-field-prestation-base,
/*.node-activite .field-name-field-price-activite,*/
.node-activite .field-name-field-memory-opinion {
    margin: 0 10px;
    text-align: justify;
}

.node-activite .field-name-body > h3,
.node-activite .field-name-field-prestation-base > h3,
/*.node-activite .field-name-field-price-activite > h3,*/
.node-activite .field-name-field-memory-opinion > h3 {
    color: #26C6DA;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    padding-bottom: 5px !important;
}

.node-activite .field-name-field-memory-opinion > h3 {
    border-bottom: 1px solid #26C6DA;
}

.node-activite .field-name-field-price-activite > h3 {
    margin-bottom: 10px;
}

.node-activite .field-name-field-price-activite > div.field-items {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}