#header-wrapper .container {
  padding: 0 !important;
}
div#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  position: relative;
  height: 80px;
  width: calc(100% - 60px);
  margin: 0 30px;
}
a#logo {
  position: relative;
  float: none;
  width: auto;
  height: 100%;
  margin: 0 50px 0 0 !important;
  box-sizing: border-box !important;
}
#logo > img {
  height: 100%;
  /*width: auto !important;*/
}
#menu-bar-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
}
div#memory-menu-responsive {
  display: none;
}
div#memory-menu {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
div#memory-menu > div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.memory-menu-tabs {
  height: 100%;
}
.memory-menu-tabs > li {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.memory-menu-tabs > li:hover {
  cursor: pointer;
}
.memory-menu-tabs > li > a {
  display: block;
  height: auto;
  padding: 0 15px;
  color: #000;
}
.memory-menu-tabs a#memory-contact-link {
    display: inline-block;
    line-height: 1;
    padding: 7px 12px;
    margin-left: 10px;
    background-color: #ff8f00;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #ff8f00;
    box-sizing: border-box;
    width: auto;
    font-size: 14px;
}
.memory-menu-tabs a#memory-contact-link:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #ff8f00;
}
.memory-menu-tabs i.fa {
    margin-right: 7px;
    font-size: 16px;
}
.menu-contact-link {
  width: 100%;
}
.memory-menu-tabs div#memory-contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

#destinations-menu {
    /*display: block;*/
    display: none;
    position: fixed;
    top: 80px;
    width: calc(100% - 75px);
    max-width: 1200px;
    left: 75px;
    height: auto;
    box-sizing: border-box;
    padding: 5px 0 0 0;
    line-height: 1;
}
#memory-menu-tab-destination:hover ~ #destinations-menu {
    display: block;
}
#destinations-menu:hover {
    display: block;
}
#destinations-menu > div {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100vh - 150px);
  border: 1px solid #a7a7a7;
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
div#destination-menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div#destination-menu-container .continent-menu {
  width: calc(100%/6);
  padding-right: 25px;
  box-sizing: border-box;
}
div#destination-menu-container .continent-menu:last-of-type {
  padding: 0;
}

/* Destination overlay menu */
div#memory-dest-tab-menu {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 15px 0;
    align-items: center;
}
div#memory-dest-tab-menu-title {
    text-align: left;
}
div#memory-dest-tab-menu-link {
    text-align: right;
}
div#memory-dest-tab-menu-title > p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  color: #16889b;
}
div#memory-dest-tab-menu-link > a {
    padding: 10px 25px;
    background-color: #ff8f00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #e9e9e9;
    border: 1px solid #ff8f00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div#memory-dest-tab-menu-link > a:hover {
    border: 1px solid #ff8f00;
    background-color: #fff;
    color: #ff8f00;
}

/* Destination overlay line */
#destinations-menu > div > hr {
    grid-area: h;
    width: 100%;
    border: none;
    border-top: 1px solid #424242;
    height: 0;
    background-color: transparent;
    margin: 20px 0;
}

/* Destination overlay destinations list */
.continent-menu {
    position: relative;
}
.continent-menu > h3 {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  color: #21acbe;
}
ul.country-menu {
    list-style-type: none;
    margin: 0 0 15px 0;
    text-align: left;
}
ul.country-menu > li {
    font-size: 14px;
}
.continent-menu ul a {
    font-size: 14px;
  font-weight: normal;
    color: #000;
}
.continent-menu ul a > i.fa {
  font-size: 6px;
  margin-right: 10px;
}
.continent-menu ul a > span {
  font-size: 12px;
}
ul.city-menu {
    list-style-type: none;
    margin: 10px 0 0 0;
}
ul.city-menu > li:nth-child(2n) {
    margin-top: 10px;
}
.continent-menu a:hover {
    color: #ff8f00;
}

/* ---------- Activity tab ---------- */
#activities-menu {
    /*display: block;*/
    display: none;
    position: fixed;
    top: 80px;
    width: calc(100% - 75px);
    max-width: 1200px;
    left: 75px;
    height: auto;
    box-sizing: border-box;
    padding: 5px 0 0 0;
    line-height: 1;
}
#memory-menu-tab-activity:hover ~ #activities-menu {
    display: block;
}
#activities-menu:hover {
    display: block;
}
#activities-menu > div {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    max-height: calc(100vh - 150px);
    border: 1px solid #a7a7a7;
    padding: 15px 25px 25px 25px;
    display: grid;
    grid-template-areas: "a" "b" "c";
    grid-template-columns: 100%;
    overflow-y: scroll;
}

div#memory-act-tab-menu {
    grid-area: a;
}
#activities-menu > div > hr {
    grid-area: b;
}
#activity-menu-container {
    grid-area: c;
}

/* Activities overlay menu */
div#memory-act-tab-menu {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 15px 0;
    align-items: center;
}
div#memory-act-tab-menu-title {
    text-align: left;
}
div#memory-act-tab-menu-link {
    text-align: right;
}
div#memory-act-tab-menu-title > p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  color: #16889b;
}
div#memory-act-tab-menu-link > a {
    padding: 10px 25px;
    background-color: #ff8f00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #e9e9e9;
    border: 1px solid #ff8f00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div#memory-act-tab-menu-link > a:hover {
    border: 1px solid #ff8f00;
    background-color: #fff;
    color: #ff8f00;
}

/* Activities overlay line */
#activities-menu > div > hr {
    width: 100%;
    border: none;
    border-top: 1px solid #424242;
    height: 0;
    background-color: transparent;
    margin: 20px 0;
}

/* Activities content */
div#activity-menu-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, calc(calc(100%/2) - calc(20px*1/2)));
    grid-gap: 20px 20px;
}

.activity-menu {
    display: grid;
    grid-template-columns: calc(150px - calc(10px*1/2)) calc(calc(100% - 150px) - calc(10px*1/2));
    grid-template-areas: "a b";
    grid-gap: 0 10px;
}
.activity-categories-image {
    grid-area: a;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.activity-categories-image > img {
    position: relative;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.activity-categories-content {
    grid-area: b;
    position: relative;
}
.activity-categories-content > h3 {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
  color: #21acbe;
}
ul.activity-categories-menu {
    list-style-type: none;
    margin: 0 0 10px 0;
}
ul.activity-categories-menu > li {
    font-size: 12px;
    font-weight: 300;
}
ul.activity-categories-menu > li > a {
  color: #000;
}
ul.activity-categories-menu > li > a:hover {
  color: #ff8f00;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}
