#main-content {
    min-height: auto !important;
}


/* Continent - Header */

/* Continent - Filters */


/* Continent - Main */
.cont-container {
    position: relative;
    width: 100%;
    margin: 75px 0;
}

.cont-container > h2 {
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #16889b;
}

.cont-container > h2 > i {
    font-size: 20px;
    margin-right: 10px;
}

.cont-vign-img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
}
/*button.cont-add-cart {*/
/*    position: absolute;*/
/*    bottom: 15px;*/
/*    right: 10px;*/
/*    font-size: 12px;*/
/*    height: 26px;*/
/*    width: 45px;*/
/*    text-align: center;*/
/*    background-color: #ff8f00;*/
/*    border: none;*/
/*    border-radius: 2px;*/
/*    color: #fff;*/
/*    z-index: 10;*/
/*    cursor: pointer;*/
/*}*/
/*button.cont-add-cart:hover {*/
/*    background-color: #0000006e;*/
/*    border: 1px solid #ffffff;*/
/*    box-sizing: border-box;*/
/*    color: #ffffff;*/
/*}*/

.banner-category-container {
  position: absolute;
  transform-origin: top center !important;
  transform: rotate(45deg);
  width: 250px;
  right: -125px;
  margin-top: 20px;
  margin-right: 20px;
}
.banner-category-container .banner-category {
  padding: 3px 0;
  box-sizing: border-box;
}
.banner-category-container .banner-category:first-child > p {
  width: 60px;
}
.banner-category-container .banner-category:not(first-child) > p {
  width: 120px;
}

.banner-category-container .banner-category > p{
  color: #fff;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
}
