/* ACTIVITY PAGE - HEADER */
div#header-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
div#header-container > h1 {
  position: absolute;
  display: block;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 35px;
  color: #fff;
  z-index: 20;
  text-align: center;
}
div#header-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 10;
  width: 100vw;
}
div#memory-img-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 15;
}
div#description-container {
  width: 75%;
  margin: 50px auto;
}
h2.activity-page-label {
  color: #26C6DA;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: bold;
}

/* ACTIVITY PAGE - PRESTATIONS */
div#activity-page-main {
  width: 75%;
  margin: 50px auto;
}
div.prestation-information-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 50px 0;
}
div.prestation-description {
  width: calc((100%/5)*4);
}
div.prestation-price-container {
  width: calc((100%/5));
  display: grid;
  grid-template-areas: "a b d" "c c c";
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr min-content;
}
div.prestation-price-container > * {
  margin: 0;
}
p.prestation-price-prefix {
  grid-area: a;
  padding: 0;
  font-size: 12px;
  font-style: italic;
  color: #26C6DA;
  text-align: left;
  box-sizing: border-box;
}
p.prestation-price {
  grid-area: b;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  color: #26C6DA;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}
p.prestation-price-precision {
  grid-area: c;
  margin: 10px 0 0 0;
  font-size: 12px;
  font-style: italic;
  color: #26C6DA;
}

div.prestation-details-container {
  border: none;
  margin: 20px 0 50px 0;
  padding: 0;
  background-color: #fefefe;
  box-shadow: 0px 0px 5px #f3f3f3;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c";
  grid-gap: 0 20px;
}
div.prestation-detail:nth-child(1){
  grid-area: a;
}
div.prestation-detail:nth-child(2){
  grid-area: b;
}
div.prestation-detail:nth-child(3){
  grid-area: c;
}
div.prestation-detail{
  padding: 15px;
  box-sizing: border-box;
}
div.activity-page-detail-label {
  display: flex;
  flex-direction: row;
  min-height: 40px;
}
div.activity-page-detail-label > h3 {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  margin: 0 0 10px 0;
}
div.activity-page-detail-label > i {
  font-size: 20px;
  line-height: 1;
  margin-right: 10px;
  color: #424242;
}
div.prestation-detail > p {
  margin: 0;
  text-align: left;
}

/* ACTIVITY PAGE - MEMORY OPINION */
div#activity-memory-opinion {
  margin: 100px 0;
}
div#activity-memory-opinion > h2{
  border-bottom: 1px solid #26C6DA;
}

/* ACTIVITY PAGE - SLIDER */
.activity-slider {
  position: relative;
  width: 100%;
  height: auto;
  margin: 100px 0;
}
.activity-slider .activity-slider-title {
  display: none;
}
.activity-carousel > span.ac-title {
  display: none;
}

.activity-slider-wrapper {
  position: relative;
  width: 100%;
  max-height: 500px;
  height: 50vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: calc(15% - (10px/4)*3) calc(35% - (10px/4)*3) calc(35% - (10px/4)*3) calc(15% - (10px/4)*3);
  grid-template-rows: 100%;
  grid-template-areas: "a b c d";
  grid-gap: 0 10px;
}
.activity-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img.ac-picture {
  position: absolute;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  top: 50%;
}

div#activity-slider-actions {
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: calc(100% - 60px);
}
div#activity-slider-actions > i.fa-chevron-left,
div#activity-slider-actions > i.fa-chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
  cursor: pointer;
}
div#activity-slider-actions > i.fa-chevron-left {
  left: 25px;
}
div#activity-slider-actions > i.fa-chevron-right {
  right: 25px;
}
div#activity-slider-actions > i.fa-chevron-left:hover,
div#activity-slider-actions > i.fa-chevron-right:hover {
  color: #fff;
}

/* ACTIVITY PAGE - THUMBNAILS */
div#activity-slider-thumbnails {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.activity-slider-thumbnail {
  position: relative;
  width: 100px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
}
.activity-slider-thumbnail:last-of-type {
  margin-right: 0;
}
.activity-slider-thumbnail > span.ac-title {
  display: none;
}
.activity-slider-thumbnail > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* ACTIVITY PAGE - BUTTON ADD TO CART */
/*button#btn-cart-container.cont-add-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
  height: 70px;
  width: 70px;
  border-top-right-radius: 70px;
  text-align: center;
  background-color: #26C6DA;
  border: 1px solid #fff;
  color: #fff;
  z-index: 20;
  cursor: pointer;
}
button#btn-cart-container.cont-add-cart:hover {
  background-color: #4196a0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
}
button#btn-cart-container.cont-add-cart > i {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 25px;
}*/

button.cont-add-cart{
  grid-area: d;
  position: relative;
  font-size: 12px;
  height: min-content;
  width: min-content;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background-color: #26C6DA;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 13px 20px;
  box-sizing: border-box;
  margin-left: auto;
}
button.cont-add-cart:hover {
  background-color: #4196a0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
}
button.cont-add-cart > i {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  font-size: medium;
}
