#main-content {
    min-height: auto !important;
}

div#continent {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Continent - Header */
div#cont-head-img-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

div#cont-head-img-container > h2 {
    position: absolute;
    display: block;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 35px;
    color: #fff;
    z-index: 20;
    text-align: center;
  background-color: #00000075;
  padding: 3px 20px;
  box-sizing: border-box;
}

div#cont-head-img-container > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

div#cont-head-desc {
    width: 75%;
    margin: 50px auto;
}

/* Continent - Filters */
div#cont-filters {
    position: relative;
    width: 75%;
    margin: 75px auto;
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    box-shadow: 1px 1px 5px #b6b6b6;
}

.cont-filter {
    color: #424242;
    text-align: center;
    border-right: 1px solid #e9e9e9;
    padding: 12px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.cont-filter:last-of-type {
    border: none;
}

.cont-filter > p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.25;
    word-break: break-word;
}
.cont-filter:hover > p {
  color: #ff8f00;
}

.cont-filter > p > i {
    font-size: 18px;
    margin: 0 0 10px 0;
    display: block;
}

/* Continent - Main */
div#cont-main {
    position: relative;
    width: 75%;
    margin: auto;
}

.cont-container {
    position: relative;
    width: 100%;
    margin: 75px 0;
}

.cont-container > h2 {
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #16889b;
}

.cont-container > h2 > i {
    font-size: 20px;
    margin-right: 10px;
}

.cont-activities-container {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - (20px*3)/4));
    grid-gap: 20px;
}

.cont-scop {
    position: relative;
    width: 100%;
    cursor: pointer;
    min-height: 150px;
    height: 10vw;
    overflow: hidden;
}

.cont-datas-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.4), rgba(255,255,255,0));
    box-sizing: border-box;
    cursor: pointer;
}
.cont-datas-container:hover {
  border: 4px solid #ff8f00;
}

h3.cont-stick-title {
  position: absolute;
  /*width: calc(100% - 60px);*/
  text-align: left;
  margin: 0;
  padding: 8px 10px;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  color: #fff;
  width: 55%;
  min-width: calc(100% - 100px);
}
.cont-vign-img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
}
p.cont-price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
/*button.cont-add-cart {*/
/*    position: absolute;*/
/*    bottom: 15px;*/
/*    right: 10px;*/
/*    font-size: 12px;*/
/*    height: 26px;*/
/*    width: 45px;*/
/*    text-align: center;*/
/*    background-color: #ff8f00;*/
/*    border: none;*/
/*    border-radius: 2px;*/
/*    color: #fff;*/
/*    z-index: 10;*/
/*    cursor: pointer;*/
/*}*/
/*button.cont-add-cart:hover {*/
/*    background-color: #0000006e;*/
/*    border: 1px solid #ffffff;*/
/*    box-sizing: border-box;*/
/*    color: #ffffff;*/
/*}*/
a.cont-readmore {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.cont-datas-container > .banner-category-container {
  position: absolute;
  transform-origin: top center !important;
  transform: rotate(45deg);
  width: 250px;
  right: -125px;
  margin-top: 20px;
  margin-right: 20px;
}
.cont-datas-container > .banner-category-container .banner-category {
  padding: 3px 0;
  box-sizing: border-box;
}
.cont-datas-container > .banner-category-container .banner-category:first-child > p {
  width: 60px;
}
.cont-datas-container > .banner-category-container .banner-category:not(first-child) > p {
  width: 120px;
}

.cont-datas-container > .banner-category-container .banner-category > p{
  color: #fff;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
}
>>>>>>> preprod
