#main-content {
    min-height: auto !important;
}
/* Continent - Header */


/* Continent - Filters */


/* Continent - Main */

.act-cat-container {
    position: relative;
    width: 100%;
    margin: 75px 0;
}

.act-cat-container > h2 {
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #16889b;
}

.act-cat-container > h2 > i {
    font-size: 20px;
    margin-right: 10px;
}

.act-cat-vign-img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
}

.act-cat-banner-category {
    position: absolute;
    width: 140px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    right: 0;
    transform: rotate(45deg) translateY(-25px) translateX(40px);
    z-index: 38;
}

.act-cat-banner-category > p {
    color: #fff;
    margin: 0;
    font-size: 10px;
}
