/* RESPONSIVE */
@media screen and (max-width: 1024px) {

  body p, body a, body li, body button {
    font-size: 14px !important;
  }
  div#page {
    margin-top: 50px!important;
  }
  .region-content .block {
    padding: 40px 0 !important;
  }

  /* Menu block */
  a#logo {
    float: none !important;
    margin: 0 !important;
    width: min-content;
  }

  a#memory-contact-link {
    width: fit-content;
    text-align: center;
    margin: auto 10px auto auto;
    padding: 5px 7px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 3px;
    background-color: #26c6da;
    color: #fff;
    border: 1px solid #fff;
    font-size: 10px !important;
  }

  div#menu-bar-wrapper {
    position: relative;
    width: min-content;
    height: min-content;
  }
  div#header {
    position: relative;
    width: 100%;
    margin: 0;
    height: 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div#memory-menu-responsive {
    display: block;
    text-align: right;
    margin: 0;
  }
  div#memory-menu {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 300px;
    height: 100vh;
    background: linear-gradient(to bottom, #26c6da, rgb(130, 229, 253));
    border-right: 1px solid #fff;
    box-shadow: 1px 0px 5px #bcbcbc;
  }
  div#memory-menu-responsive > i {
    font-size: 30px;
    color: #424242;
  }

  /*#memory-remove-responsive-menu{*/
  /*  position: fixed;*/
  /*  top:20px;*/
  /*  right:25px;*/
  /*  font-size:30px;*/
  /*  z-index: 999;*/
  /*  cursor: pointer;*/
  /*}*/
  div#memory-menu > div:not(#activities-menu) {
    position: absolute;
    height: auto;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }

  /* SubMenu - Destinations */
  /*div#destinations-menu {*/
  /*  position: fixed !important;*/
  /*  top: 0 !important;*/
  /*  left: 0 !important;*/
  /*  width: 100vw !important;*/
  /*  height: 100vh !important;*/
  /*  padding: 0 !important;*/
  /*  margin: 0 !important;*/
  /*  background-color: #fff !important;*/
  /*  z-index: 999 !important;*/
  /*}*/
  /*#destinations-menu > div {*/
  /*  all: unset;*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  padding: 20px 25px;*/
  /*  box-sizing: border-box;*/
  /*  width: 100vw;*/
  /*  height: 100vh;*/
  /*  overflow-x: hidden;*/
  /*  overflow-y: hidden;*/
  /*}*/
  /*div#memory-dest-tab-menu {*/
  /*  all: unset;*/
  /*  position: relative;*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  padding: 0;*/
  /*  box-sizing: border-box;*/
  /*  height: fit-content;*/
  /*  width: 100%;*/
  /*  align-items: center;*/
  /*  justify-content: space-between;*/
  /*  line-height: 2;*/
  /*}*/
  /*#destinations-menu > div > hr {*/
  /*  all: unset;*/
  /*  position: relative;*/
  /*  width: 100%;*/
  /*  border: none;*/
  /*  border-top: 1px solid #424242;*/
  /*  height: 0;*/
  /*  background-color: transparent;*/
  /*  margin: 30px 0;*/
  /*  padding: 0;*/
  /*}*/
  /*div#memory-dest-tab-menu-title {*/
  /*  all: unset;*/
  /*  width: fit-content;*/
  /*}*/
  /*div#memory-dest-tab-menu-title > p {*/
  /*  all: unset;*/
  /*  font-size: 20px !important;*/
  /*  width: 100%;*/
  /*}*/
  /*div#memory-dest-tab-menu-link {*/
  /*  all: unset;*/
  /*  width: max-content;*/
  /*  margin: 0 20px;*/
  /*}*/
  /*div#memory-dest-tab-menu-link > a {*/
  /*  all: unset;*/
  /*  padding: 5px 10px;*/
  /*  width: 100%;*/
  /*  background-color: #26C6DA;*/
  /*  color: #fff;*/
  /*  border-radius: 3px;*/
  /*  border: 1px solid #26C6DA;*/
  /*  box-sizing: border-box;*/
  /*  font-size: 14px;*/
  /*}*/
  /*i#remove-responsive-submenu-destinations {*/
  /*  position: fixed;*/
  /*  top: 20px;*/
  /*  right: 25px;*/
  /*  font-size: 30px;*/
  /*  cursor: pointer;*/
  /*}*/
  /*div#destination-menu-container {*/
  /*  all: unset;*/
  /*  position: relative;*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  overflow-y: scroll;*/
  /*  scrollbar-width: 2px;*/
  /*}*/
  /*div#destination-menu-container::-webkit-scrollbar {*/
  /*  width: 2px;*/
  /*}*/
  /*div#destination-menu-container .continent-menu {*/
  /*  all: unset;*/
  /*  display: block;*/
  /*  width: 100%;*/
  /*}*/
  /*ul.country-menu {*/
  /*  margin: 0 0 15px 10px !important;*/
  /*}*/
  /*ul.country-menu a, ul.country-menu a:visited {*/
  /*  color: #969696 !important;*/
  /*}*/

  /* SubMenu - Activities */
  div#activities-menu {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff !important;
    z-index: 99;
  }
  #activities-menu > div {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 20px 25px 50px 25px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  div#memory-act-tab-menu {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
  }
  div#memory-act-tab-menu-title {
    all: unset;
    width: fit-content;
  }
  div#memory-act-tab-menu-title > p {
    all: unset;
    font-size: 20px !important;
    width: 100%;
  }
  div#memory-act-tab-menu-link {
    all: unset;
    width: max-content;
    margin: 0 50px;
  }
  div#memory-act-tab-menu-link > a {
    all: unset;
    padding: 5px 10px;
    width: 100%;
    background-color: #26C6DA;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #26C6DA;
    box-sizing: border-box;
    font-size: 14px;
  }
  i#remove-responsive-submenu-activities {
    position: fixed;
    top: 23px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
  }
  #activities-menu > div > hr {
    all: unset;
    position: relative;
    width: 100%;
    border: none;
    border-top: 1px solid #424242;
    height: 0;
    background-color: transparent;
    margin: 30px 0;
    padding: 0;
  }
  div#activity-menu-container {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scrollbar-width: thin;
    flex-wrap: wrap;
    top: 50%;
    transform: translateY(calc(-50% - 70px));
  }
  div#activity-menu-container::-webkit-scrollbar {
    width: 1px;
  }
  div#activity-menu-container::-webkit-scrollbar-thumb {
    background: #dedede;
  }
  .activity-menu {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    flex: 50%;
  }
  .activity-categories-image {
    all: unset;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .activity-categories-content {
    all: unset;
    position: relative;
    width: calc(100% - 200px - 10px);
    margin-left: 10px;
  }
  .activity-menu:last-of-type {
    margin: 0;
  }
  ul.activity-categories-menu > li {
    text-align: left;
  }

  /* All tabs */
  .memory-menu-tabs {
    display: block;
    height: min-content;
    width: 100%;
    margin: 0;
    border-top: 1px solid #fff;
  }
  .memory-menu-tabs:last-of-type{
    border-bottom: 1px solid #fff;
  }
  .memory-menu-tabs > li#menu-responsive-home-page,
  .memory-menu-tabs > li#memory-menu-responsive-contact,
  .memory-menu-tabs > li#menu-responsive-your-cart {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
  }
  .memory-menu-tabs > li#memory-menu-tab-activity > a,
  .memory-menu-tabs > li#memory-menu-tab-destination > a {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
  }
  .memory-menu-tabs > li > a,
  .memory-menu-tabs > li > p {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  .memory-menu-tabs > li i {
    font-size: 16px !important;
    color: #fff !important;
    margin-right: 20px !important;
  }
  #memory-responsive-contact-page{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #26c6da, rgb(130, 229, 253));
  }
  #memory-responsive-contact-page > i {
    position: fixed;
    top:10px;
    right:10px;
    font-size:30px;
    z-index: 999;
    cursor: pointer;
  }
  div#memory-responsive-contact-page > h2 {
    text-align: center;
    color: #424242;
    text-transform: uppercase;
    margin: 40px auto 0 auto;
  }
  div#other-countries, div#default-country {
    all: unset !important;
    display: block !important;
    width: 200px !important;
    margin: auto !important;
  }
  div#default-country > img.memory-icons, div#default-country > i {
    display: none !important;
  }
  div#default-country, div#other-countries > div {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
  }
  div#default-country > a, div#other-countries > div > a {
    font-size: 18px !important;
    font-weight: 400;
    color: #fff;
  }
  div#default-country > a:visited, div#other-countries > div > a:visited {
    color: #fff;
    text-decoration: none;
  }
  div#default-country > img, div#other-countries > div > img {
    width: 20px;
  }
  div#memory-contact-container {
    width: auto;
    margin: 20vh auto 0 auto;
  }
  div#other-countries {
    margin-bottom: 30px !important;
  }
  div#other-countries, div#default-country {
    width: fit-content !important;
  }
  #memory-responsive-contact-page > div#responsive-contact-us {
    width: fit-content;
    margin: 20vh auto 0 auto;
    border: 1px solid #fff;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  #memory-responsive-contact-page > div#responsive-contact-us > p {
    margin: 0;
    text-align: center;
    font-size: 16px !important;
    color: #fff;
  }

  /* Tab destination */
  #memory-menu-tab-destination:hover ~ #destinations-menu {
    display: none;
  }
  /* Tab activities */
  #memory-menu-tab-activity:hover ~ #activities-menu {
    display: none;
  }

  /*.menu-contact-link {
    position: relative;
    width: max-content;
    margin: auto;
  }
  div#memory-contact-container {
    flex-direction: column !important;
  }
  div#phone-datas-container {
    padding: 0 !important;
    margin: 25px 0;
  }

  div#other-countries {
    position: relative !important;
    top: 0 !important;
    margin-bottom: 10px;
    padding: 15px 0 !important;
    margin-left: 26px;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  div#default-country > i {
    transform: rotate(180deg);
  }
  div#phone-datas-container p {
    color: #000 !important;
  }*/

  /* Slider block */
  div#slider-container {
    height: 550px !important;
  }

  /* Social networks block */
  div#block-memory-blocks-social-networks {
    display: none !important;
  }
  /*div#block-memory-blocks-social-networks {*/
  /*  top: 50% !important;*/
  /*}*/
  /*.social-networks-container i {*/
  /*  width: 35px !important;*/
  /*  height: 35px !important;*/
  /*  font-size: 18px !important;*/
  /*  padding: 9px !important;*/
  /*}*/
  /*div#block-memory-blocks-social-networks > .block-inner {*/
  /*  padding: 0 !important;*/
  /*}*/

  /* All pages */
  .front-page .block-inner,
  div#map-header {
    padding: 0 !important;
    max-width: 750px !important;
    width: 75% !important;
  }

  div#mcb-container > h2 {
    font-size: 20px !important;
  }
  div#mcb-blocks-container {
    display: flex !important;
    flex-direction: column;
  }
  div#mcb-blocks-container .mcb-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
  }
  div#mcb-blocks-container .mcb-block > img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 20px;
  }
  div#mcb-blocks-container .mcb-block > div {
    margin: 0 !important;
    height: fit-content;
  }
  div#mcb-blocks-container .mcb-block > div p {
    text-align: justify;
  }
  div#mcb-blocks-container .mcb-block:last-of-type {
    margin-bottom: 0;
  }

  /* Go to top page block */
  div#block-memory-blocks-memory-go-top-page {
    right: 10px !important;
    bottom: 10px !important;
    padding: 0 !important;
  }
  div#block-memory-blocks-memory-go-top-page > .block-inner {
    padding: 0 !important;
  }

  /* Top destinations block */
  div#top-destinations-container > h1 {
    font-size: 20px !important;
    margin: 0 0 25px 0 !important;
  }
  div#top-destinations-container > #description {
    margin: 0 0 25px 0 !important;
    font-size: 14px !important;
  }
  div#top-destinations-grid {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }

  #top-destinations-grid > div {
    width: calc(100%/3 - (15px*2/3)) !important;
    height: 150px !important;
    min-height: 90px !important;
    margin-bottom: 25px !important;
  }
  div#top-destinations-grid > div:nth-child(n):not(:nth-child(3n)) {
    margin-right: 15px;
  }

  p.td-name {
    font-size: 18px !important;
  }
  img.td-img {
    width: 300px !important;
    height: auto !important;
    transform: none !important;
    left: 0 !important;
    top: 0 !important;
    filter: blur(2px) !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }

  /* Top activities block */
  div#top-activities-container > h1 {
    font-size: 20px !important;
    margin: 0 0 25px 0 !important;
  }
  div#top-activities-container > #description {
    margin: 0 0 25px 0 !important;
  }
  div#top-activities-grid {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  #top-activities-grid > div {
    width: calc(100%/3 - (15px*2/3)) !important;
    height: 150px !important;
    min-height: 90px !important;
    margin-bottom: 25px !important;
  }
  div#top-activities-grid > div:nth-child(n):not(:nth-child(3n)) {
    margin-right: 15px;
  }

  p.ta-name {
    font-size: 18px !important;
  }
  img.ta-img {
    width: 300px !important;
    height: auto !important;
    transform: none !important;
    left: 0 !important;
    top: 0 !important;
    filter: blur(2px) !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }

  /* Other blocks */
  .region-content .block h2.block-title {
    font-size: 20px;
  }

  /* World map block */
  div#block-memory-map-memory-map {
    padding: 40px 0 !important;
    box-sizing: border-box;
  }
  div#block-memory-map-memory-map > .block-inner {
    padding: 0 !important;
    margin: auto !important;
  }
  /*svg#svg-container {*/
  /*  transform: translateX(-53%) translateY(2%) scale(0.65);*/
  /*}*/
  div#block-memory-map-memory-map h1 {
    font-size: 20px;
    margin: 0 0 25px 0;
  }
  div#map-header {
    padding: 0 !important;
    margin: 0 0 25px 0 !important;
    width: 100% !important;
  }
  div#world-map {
    height: 350px;
  }
  div#menu-map {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding: 5px 10px !important;
    box-sizing: border-box !important;
  }
  div#menu-map > div {
    display: block;
    padding: 3px 20px !important;
    box-sizing: border-box;
  }

  /* Footer block */
  div#footer-container {
    grid-template-areas: "a b c" "d e f" "g g g";
    grid-template-columns: repeat(3, calc(100%/3 - 30px*2/3));
    grid-gap: 25px 30px;
    word-break: break-word;
    grid-template-rows: auto;
  }
  div#footer-container div#social-media-links-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
  }
  div#footer-container div#social-media-links-container > div {
    width: 60px !important;
    height: 60px !important;
    margin: 0 !important;
  }
  div#footer-container > div#social-media-links {
    margin: 0 !important;
  }

  /* Page - Toutes nos activités */
  div#all-activities-main {
    width: 90% !important;
  }
  .all-activities-container {
    grid-template-columns: repeat(2, calc(100%/2 - 20px/2));
  }
  .all-act-scop {
    min-height: 100px;
  }
  h3.all-act-stick-title {
    font-size: 14px !important;
    color: #fff !important;
  }
  ul.country-container > ul.city {
    display: block !important;
  }

  /* Page - Contact */
  form.webform-client-form > div {
    width: 100% !important;
    padding: 25px 50px !important;
    box-sizing: border-box !important;
    max-width: 700px !important;
  }
  form.webform-client-form .webform-component select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  fieldset.webform-component--contact-details > .fieldset-content {
    display: flex !important;
    flex-direction: column !important;
  }
  .webform-component--contact-details .webform-component > label,
  .webform-component--questions .webform-component > label,
  .webform-component--quote-request .webform-component > label {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
  .form-item, .form-action {
    margin: 5px 0 !important;
  }
  fieldset.webform-component--quote-request > .fieldset-content {
    display: flex !important;
    flex-direction: column !important;
  }
  .webform-datepicker .form-item {
    all: unset;
    margin: 0 !important;
    height: 100%;
  }
  .webform-datepicker .form-item > select {
    all: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    padding: 3px 4px;
  }
  div#ui-datepicker-div {
    left: 50% !important;
    transform: translateX(-50%);
  }

  /* Page - Nos destinations */
  div#container > #img-container {
    height: 500px;
  }
  div#container > div > div#destinations-container {
    grid-template-columns: repeat(3, 1fr);
  }
  div#img-container > h2 {
    font-size: 30px;
  }

  /* Page - destinations */
  div#continent {
    all: unset;
  }
  div#cont-head-img-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  div#cont-head-desc {
    max-width: 750px;
  }
  div#cont-head-img-container > h2 {
    font-size: 30px;
    color: #fff !important;
  }
  div#cont-filters {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    box-shadow: 1px 1px 5px #e9e9e9;
    justify-content: center;
  }
  .cont-filter {
    all: unset;
    width: calc(100vw/3);
    text-align: center;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 5px 10px;
  }
  .cont-filter:nth-child(-n+3) {
    border-bottom: 1px solid #e9e9e9;
  }
  .cont-filter:nth-child(n+4) {
    width: 50%;
  }
  .cont-filter > p {
    font-size: 12px;
  }
  div#cont-main {
    width: 90%;
    max-width: 750px;
  }
  .cont-activities-container {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cont-scop {
    all: unset;
    position: relative;
    width: calc(100%/3 - (15px*2/3));
    height: 150px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .cont-scop:nth-child(n):not(:nth-child(3n)) {
    margin-right: 15px;
  }
  img.cont-vign-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  p.cont-price {
    bottom: 5px !important;
    color: #fff !important;
    font-size: 18px !important;
  }
  h3.cont-stick-title {
    color: #fff !important;
    font-size: 18px !important;
  }

  /* Page - activities */
  div#act-cat {
    all: unset;
  }
  div#act-cat-head-img-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  div#act-cat-head-img-container > h2 {
    font-size: 30px;
    max-width: 75%;
    width: max-content;
    color: #fff !important;
  }
  div#act-cat-filters {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    box-shadow: 1px 1px 5px #e9e9e9;
    justify-content: center;
  }
  .act-cat-filter {
    all: unset;
    width: calc(100vw/3);
    text-align: center;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 5px 10px;
  }
  .act-cat-filter:nth-child(-n+3) {
    border-bottom: 1px solid #e9e9e9;
  }
  .act-cat-filter > p {
    font-size: 12px;
  }
  div#act-cat-main {
    width: 90%;
    max-width: 750px;
  }
  .act-cat-activities-container {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .act-cat-scop {
    all: unset;
    position: relative;
    width: calc(100%/3 - (15px*2/3));
    height: 150px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .act-cat-scop:nth-child(n):not(:nth-child(3n)) {
    margin-right: 15px;
  }

  img.act-cat-vign-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  p.act-cat-price {
    bottom: 5px !important;
    color: #fff !important;
    font-size: 18px !important;
  }
  h3.act-cat-stick-title {
    color: #fff !important;
    font-size: 18px !important;
  }

  /* Page - destinations */
  div#img-container > h2 {
    font-size: 30px;
    width: 75%;
    text-align: center;
    color: #fff !important;
  }
  div#act-dest-main {
    width: 90%;
  }
  .act-dest-container {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .act-dest-scop {
    all: unset;
    position: relative;
    width: calc(50% - 5px);
    height: 100px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .act-dest-scop:nth-child(odd) {
    margin-right: 5px;
  }
  .act-dest-scop-scop:nth-child(even) {
    margin-left: 5px;
  }
  img.act-dest-vign-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  h3.act-dest-stick-title {
    font-size: 14px !important;
    color: #fff !important;
  }

  /* Page - Activity */
  div#activity-page-container {
    all: unset;
  }
  div#activity-page-container div#header-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  div#activity-page-container div#header-container > h1 {
    font-size: 30px;
    max-width: 75%;
    width: max-content;
    color: #fff !important;
  }
  div.prestation-information-container {
    all: unset;
    display: flex;
    flex-direction: row;
  }
  div.prestation-description {
    all: unset;
    width: 100%;
    margin-right: 10px;
  }
  div.prestation-price-container {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
  }
  div.prestation-details-container {
    all: unset;
    display: flex;
    flex-direction: column;
    margin: 40px 0 50px 0;
    padding: 0;
    background-color: #fefefe;
    box-shadow: 0px 0px 5px #f3f3f3;
    border-radius: 5px;
    border: none;
  }
  div.prestation-detail {
    all: unset;
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
  }
  div.prestation-detail:last-of-type {
    border: none;
  }
  div.activity-page-detail-label {
    all: unset;
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
  }
  div.activity-page-detail-label > h3 {
    margin: 0;
  }
  div.prestation-detail > p {
    all: unset;
    text-align: left;
    width: 40%;
  }

  /* Block - Switch activities */
  div#block-memory-blocks-memory-switch-activities {
    width: 90% !important;
    margin: 25px auto 50px auto !important;
  }
  div#memory-switch-act-container {
    align-items: center;
    width: 90% !important;
  }
  div.memory-switch-act {
    height: fit-content;
    min-height: 45px;
  }
  div.memory-switch-act > a {
    font-size: 12px !important;
  }
  div#memory-destination {
    margin: 0 15px !important;
    padding: 0 !important;
  }

  /* Breadcrumb */
  div#breadcrumb-wrapper {
    all: unset;
    width: 100vw;
  }
  #breadcrumb-wrapper .grid-inner {
    display: flex;
    flex-direction: column;
  }

  /* User cart */
  div#responsive-user-cart-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: #26c6da;
    z-index: 999;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #a8a8a8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
  }
  div#block-memory-cart-memory-cart {
    all: unset;
    display: none;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 450px !important;
    height: 100vh !important;
    background-color: #f7f7f7 !important;
    z-index: 999 !important;
  }
  button#btn-display {
    display: none !important;
  }
  div#cart-container {
     top: 0 !important;
     height: 100vh !important;
  }
  div#cart-container > h1 {
    margin: 20px 0 !important;
    font-size: 24px !important;
  }
  form#devis {
    padding: 10px 20px !important;
  }
  form#devis input, form#devis select {
    font-size: 14px !important;
  }
  button#empty-cart {
    font-size: 14px !important;
    margin-top: 20px !important;
  }
  .activities-titles-container > p {
    font-size: 14px !important;
    line-height: 1 !important;
  }
  .activities-titles-container > p:first-of-type {
    font-weight: bold !important;
  }
  .hosting-container > p, .transfer-container > p {
    font-size: 12px !important;
  }
  .hosting-container > button, .transfer-container > button {
    min-width: unset !important;
    width: min-content !important;
  }
  .activities-container > p {
    font-size: 12px !important;
  }
  button#validate-cart {
    font-size: 14px !important;
  }
  form#devis textarea {
    font-size: 14px;
  }

  div#user-add-new-city-container div#user-add-new-city {
    padding: 30px 20px !important;
    width: 85% !important;
    max-width: 450px !important;
  }
  div#user-cart-user-not-logged-container > div, div#user-cart-user-logged-container > div {
    padding: 30px 20px !important;
    width: 85% !important;
  }
  div#user-cart-user-not-logged-container > div > h2, div#user-cart-user-logged-container > div > h2 {
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: center !important;
    margin-bottom: 20px !important;
  }
  div#user-cart-user-datas-container > div {
    margin: 0 0 10px 0 !important;
  }
  div#user-cart-user-datas-container input {
    font-size: 12px !important;
    padding: 7px 0 !important;
  }
  div#user-cart-user-approval {
    margin-top: 20px !important;
  }
  div#user-cart-user-approval > label {
    font-size: 12px !important;
  }
  button#user-not-logged-validate-cart {
    font-size: 12px !important;
    margin: 20px 0 0 50% !important;
  }
  #user-cart-user-not-logged-container .user-alert-datas-lack {
    font-size: 12px !important;
  }

  /* Automatic images cover size */
  img.img-cover-wide {
    height: auto !important;
    width: 100% !important;
    filter: brightness(0.85) blur(0) !important;
  }
  img.img-cover-tall {
    width: auto !important;
    height: 100% !important;
    filter: brightness(0.85) blur(0) !important;
  }
}


@media screen and (max-width: 640px) {

  body p, body a, body li, body button {
    font-size: 12px !important;
  }

  /* Homepage */
  div#slider-container {
    height: 200px !important;
  }

  .front-page .block-inner,
  div#map-header {
    padding: 0 50px !important;
    width: 100% !important;
  }
  /*#top-destinations-grid > div {*/
  /*  width: calc(50% - 5px) !important;*/
  /*  height: 90px !important;*/
  /*  min-height: 90px !important;*/
  /*  margin-bottom: 25px !important;*/
  /*}*/
  /*#top-activities-grid > div {*/
  /*  width: calc(50% - 5px) !important;*/
  /*  height: 90px !important;*/
  /*  min-height: 90px !important;*/
  /*  margin-bottom: 25px !important;*/
  /*}*/

  #top-activities-grid > div {
    width: calc(50% - 5px) !important;
    height: 100px !important;
    min-height: 90px !important;
    margin-bottom: 25px !important;
  }
  div#top-activities-grid > div:nth-child(n):not(:nth-child(3n)) {
    margin-right: unset;
  }
  div#top-activities-grid > div:nth-child(odd) {
    margin-right: 5px !important;
  }
  div#top-activities-grid > div:nth-child(even) {
    margin-left: 5px !important;
  }
  p.ta-name {
    font-size: 14px !important;
  }

  #top-destinations-grid > div {
    width: calc(50% - 5px) !important;
    height: 100px !important;
    min-height: 90px !important;
    margin-bottom: 25px !important;
  }
  div#top-destinations-grid > div:nth-child(n):not(:nth-child(3n)) {
    margin-right: unset;
  }
  div#top-destinations-grid > div:nth-child(odd) {
    margin-right: 5px !important;
  }
  div#top-destinations-grid > div:nth-child(even) {
    margin-left: 5px !important;
  }
  p.td-name {
    font-size: 14px !important;
  }

  div#world-map {
    height: 250px;
  }
  div#map-header {
    padding: 0 50px !important;
  }

  /* SubMenu - Activities */
  div#memory-act-tab-menu {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
  }
  div#memory-act-tab-menu-link {
    all: unset;
    width: max-content;
    margin: 0 20px;
  }
  div#activity-menu-container {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    top: unset;
    transform: none;
  }
  .activity-menu {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    flex: 100%;
  }
  .activity-categories-image {
    all: unset;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .activity-categories-content {
    all: unset;
    position: relative;
    width: calc(100% - 100px - 10px);
    margin-left: 10px;
  }

  /* Footer block */
  div#footer-container {
    grid-template-areas: "a b" "c d" "e f" "g g";
    grid-template-columns: repeat(2, calc(100%/2 - 10px/2));
    grid-gap: 15px 10px;
    word-break: break-word;
  }
  div#footer-container div#social-media-links-container > div {
    width: 40px !important;
    height: 40px !important;
  }

  /* Page - Nos destinations */
  div#container > #img-container {
    height: 250px;
  }
  div#container > div > div#destinations-container {
    grid-template-columns: repeat(2, 1fr);
  }
  div#img-container > h2 {
    font-size: 25px;
  }

  /* Page - destinations */
  div#cont-head-img-container {
    height: 250px;
  }
  div#cont-head-img-container > h2 {
    font-size: 25px;
  }
  .cont-scop {
    all: unset;
    position: relative;
    width: calc(50% - 5px);
    height: 100px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .cont-scop:nth-child(n):not(:nth-child(3n)) {
    margin-right: unset;
  }
  .cont-scop:nth-child(odd) {
    margin-right: 5px !important;
  }
  .cont-scop:nth-child(even) {
    margin-left: 5px !important;
  }
  h3.cont-stick-title {
    font-size: 14px !important;
  }
  p.cont-price {
    font-size: 14px !important;
  }

  /* Page - activities */
  div#act-cat-head-img-container {
    height: 250px;
  }
  div#act-cat-head-img-container > h2 {
    font-size: 25px;
  }
  .act-cat-scop {
    all: unset;
    position: relative;
    width: calc(50% - 5px);
    height: 100px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .act-cat-scop:nth-child(n):not(:nth-child(3n)) {
    margin-right: unset;
  }
  .act-cat-scop:nth-child(odd) {
    margin-right: 5px;
  }
  .act-cat-scop:nth-child(even) {
    margin-left: 5px;
  }
  h3.act-cat-stick-title {
    font-size: 14px !important;
  }
  p.act-cat-price {
    font-size: 14px !important;
  }

  /* Page - Activity */
  div#activity-page-container div#header-container {
    height: 250px;
  }
  div#activity-page-container div#header-container > h1 {
    font-size: 25px;
  }
  div.prestation-information-container {
    all: unset;
    display: flex;
    flex-direction: column;
  }
  div.prestation-description {
    margin-right: 0;
  }
  div.prestation-price-container {
    margin-left: 0;
  }

  /* Block - Switch activities */
  div.memory-switch-act > a {
    font-size: 10px !important;
  }

  /* User cart */
  div#responsive-user-cart-btn {
    width: 40px;
    height: 40px;
    font-size: 13px;
  }
  div#block-memory-cart-memory-cart {
    width: 100vw !important;
  }
  div#cart-container > h1 {
    font-size: 20px !important;
  }
  form#devis input, form#devis select {
    font-size: 12px !important;
  }
  button#empty-cart {
    font-size: 12px !important;
  }
  .activities-titles-container > p {
    font-size: 12px !important;
  }
  button#validate-cart {
    font-size: 12px !important;
  }
  form#devis textarea {
    font-size: 12px;
  }


  /* Page - contact */
  form.webform-client-form > div {
    padding: 25px 20px !important;
  }
}


/* Menu - user cart */
#user-cart-display-through-menu {
  position: fixed;
  z-index: 9999;
  left: 15px;
  top: 15px;
  font-size: 25px;
}
