

.mcb-text:first-of-type {
    margin: 25px 0 50px 0;
}
.mcb-text:last-of-type {
    margin: 50px 0 0 0;
}
.mcb-text p {
    font-size: 14px;
}

div#mcb-blocks-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - (25px/3)*2));
    grid-gap: 0 25px;
}
div#mcb-blocks-container .mcb-block {
    text-align: center;
}
div#mcb-blocks-container .mcb-block > img {
  width: auto;
}
div#mcb-blocks-container .mcb-block .mcb-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div#mcb-blocks-container .mcb-block .mcb-text-container {
    margin: 25px 0 0 0;
    text-align: center;
}
div#mcb-blocks-container .mcb-block > div p {
    margin: 0;
    color: #000;
}

@media screen and (max-width: 1024px){

  div#mcb-blocks-container {
    display: flex;
    flex-direction: column;
  }
  div#mcb-blocks-container .mcb-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
  }
  div#mcb-blocks-container .mcb-block > img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  div#mcb-blocks-container .mcb-block > div {
    margin: 0;
    width: 40%;
  }
  div#mcb-blocks-container .mcb-block > div p {
    text-align: justify;
  }
  div#mcb-blocks-container .mcb-block:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 640px){

  .mcb-text:first-of-type > p:last-of-type {
    margin: 0;
  }
  .mcb-text:first-of-type {
    margin: 25px 0;
  }
  .mcb-text:last-of-type {
    margin: 25px 0 0 0;
  }
  div#mcb-blocks-container .mcb-block {
    margin: 0;
  }
  div#mcb-blocks-container .mcb-block .mcb-img-container {
    width: 50%;
    height: auto;
    margin: 0;
  }
  div#mcb-blocks-container .mcb-block .mcb-img-container img {
    height: auto;
    width: 100%;
  }
  div#mcb-blocks-container .mcb-block .mcb-text-container {
    width: 50%;
    margin: 0;
    padding: 0 0 0 15px;
    box-sizing: border-box;
  }
  div#mcb-blocks-container .mcb-block .mcb-text-container p {
    text-align: left;
  }
}
