/*body {*/
    /*overflow: hidden;*/
/*}*/

form.webform-client-form {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    margin: 0;
    padding: 50px 25px;
    box-sizing: border-box;
}

form.webform-client-form > div {
    position: relative;
    width: 700px;
    margin: auto;
}

fieldset.contact_fieldset {
    margin: 0 0 50px 0;
    padding: 0;
    border: none;
}
fieldset.contact_fieldset input[type="text"],
fieldset.contact_fieldset input[type="email"],
fieldset.contact_fieldset select {
    width: 100%;
    font-size: 12px;
    color: #000;
}

fieldset.contact_fieldset:last-of-type {
    margin-bottom: 0;
}

fieldset.contact_fieldset > legend {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5d5d5d;
    text-align: center;
    margin: 0 0 15px 0;
}

/* Fieldset - Contact details */

fieldset.webform-component--contact-details > .fieldset-content {
    display: grid;
    grid-template-areas: "a a b b b b c c c c" "d d d d e e e f f f";
    grid-template-columns: repeat(10, calc(10% - (20px*9)/10 ));
    grid-gap: 10px 20px;
}
.webform-component--contact-details--civility {
    grid-area: a;
}
.webform-component--contact-details--lastname {
    grid-area: b;
}
.webform-component--contact-details--firstname {
    grid-area: c;
}
.webform-component--contact-details--email {
    grid-area: d;
}
.webform-component--contact-details--phone {
    grid-area: e;
}
.webform-component--contact-details--nature-request {
    grid-area: f;
}


.webform-component--contact-details .webform-component {
    border: 1px solid #424242;
    border-radius: 2px;
    background: #fff;
}
.webform-component--contact-details .webform-component > label {
    margin: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #26C6DA;
}
.webform-component--contact-details .webform-component > input,
.webform-component--contact-details .webform-component > select {
    height: 25px;
    border: none;
    background: transparent;
    padding: 5px;
}
.webform-component--contact-details .webform-component > input {
    padding: 5px 10px;
}

/* Fieldset - Quote request */

fieldset.webform-component--quote-request > .fieldset-content {
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-template-columns: repeat(3, calc(33.3333% - (20px*2)/3 ));
    grid-gap: 10px 20px;
}

.webform-component--quote-request--destination {
    grid-area: a;
}
.webform-component--quote-request--departure {
    grid-area: b;
}
.webform-component--quote-request--arrival {
    grid-area: c;
}
.webform-component--quote-request--group-size {
    grid-area: d;
}
.webform-component--quote-request--transport {
    grid-area: e;
}
.webform-component--quote-request--accomodation {
    grid-area: f;
}

.webform-component--quote-request .webform-component {
    border: 1px solid #424242;
    border-radius: 2px;
    background: #fff;
}
.webform-component--quote-request .webform-component > label {
    margin: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #26C6DA;
}
.webform-component--quote-request .webform-component > input,
.webform-component--quote-request .webform-component > select {
    height: 25px;
    border: none;
    background: transparent;
    padding: 5px;
}
.webform-component--quote-request .webform-component > input {
    padding: 5px 10px;
}

.webform-datepicker {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 10px)) 30px;
}
.webform-datepicker .form-item {
    height: 100%;
    margin: 0;
}
.webform-datepicker .form-item > select {
    height: 100%;
    border: none;
    border-right: 1px solid #424242;
}
.webform-datepicker > input[type="image"] {
    width: 20px;
    padding: 5px;
    margin: 0;
    border: 0;
}

/* Fieldset - Questions */

fieldset.webform-component--questions > .fieldset-content {
    grid-template-rows: repeat(2, 50%);
}

.webform-component--questions .webform-component {
    border: 1px solid #424242;
    border-radius: 2px;
    background: #fff;
}
.webform-component--questions .webform-component > label {
    margin: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #26C6DA;
}
.webform-component--questions .webform-component > input,
.webform-component--questions .webform-component > select {
    height: 25px;
    border: none;
    background: transparent;
    padding: 5px;
}
.webform-component--questions .webform-component > input {
    padding: 5px 10px;
}
.webform-component--questions .webform-component textarea {
    padding: 5px 10px;
    background: transparent;
    border: none;
    resize: vertical;
}
.webform-component--questions .webform-component .grippie {
    height: 5px;
    border: none;
    background: #ffffff;
}

/* Submit button */

.form-actions input[type="submit"] {
    margin: auto;
    display: block;
}


/*form.webform-client-form > div {*/
    /*position: relative;*/
    /*width: 800px;*/
    /*margin: auto;*/
    /*padding: 25px 0;*/
    /*box-sizing: border-box;*/
    /*display: grid;*/
    /*grid-template-areas:*/
            /*"a a b b c c"*/
            /*"d d e e f f"*/
            /*". g g h h ."*/
            /*"i i i i i i"*/
            /*". . j j . .";*/
    /*grid-template-columns: repeat(6, 1fr);*/
    /*grid-gap: 20px;*/
/*}*/

/*.webform-component--civility {*/
    /*grid-area: a;*/
/*}*/
/*.webform-component--lastname {*/
    /*grid-area: b;*/
/*}*/
/*.webform-component--firstname {*/
    /*grid-area: c;*/
/*}*/
/*.webform-component--email {*/
    /*grid-area: d;*/
/*}*/
/*.webform-component--phone {*/
    /*grid-area: e;*/
/*}*/
/*.webform-component--group-size {*/
    /*grid-area: f;*/
/*}*/
/*.webform-component--arrival {*/
    /*grid-area: g;*/
/*}*/
/*.webform-component--departure {*/
    /*grid-area: h;*/
/*}*/
/*.webform-component--message {*/
    /*grid-area: i;*/
/*}*/
/*.form-actions {*/
    /*grid-area: j;*/
/*}*/

/*form.webform-client-form > div label {*/
    /*font-size: 14px;*/
    /*margin-bottom: 10px;*/
    /*color: #26C6DA;*/
/*}*/
/*form.webform-client-form > div input:not([type="image"]),*/
/*form.webform-client-form > div select:not(#edit-submitted-arrival-month):not(#edit-submitted-arrival-day):not(#edit-submitted-arrival-year):not(#edit-submitted-departure-month):not(#edit-submitted-departure-day):not(#edit-submitted-departure-year) {*/
    /*width: 100%;*/
/*}*/
/*form.webform-client-form > div input:not([type="image"]):not([type="submit"]),*/
/*form.webform-client-form > div select {*/
    /*height: 30px;*/
    /*background: #fff;*/
    /*box-shadow: inset 0px 0px 3px #ebe9e9;*/
    /*padding: 5px 10px;*/
    /*border: 1px solid #e9e9e9;*/
    /*cursor: pointer;*/
/*}*/

/*form.webform-client-form > div textarea {*/
    /*resize: vertical;*/
    /*background: #fff;*/
    /*box-shadow: inset 0px 0px 3px #ebe9e9;*/
    /*padding: 10px;*/
    /*border: 1px solid #e9e9e9;*/
    /*cursor: pointer;*/
/*}*/
/*form.webform-client-form > div .grippie {*/
    /*border: none;*/
    /*background-color: #a8a8a8;*/
    /*height: 5px;*/
/*}*/

/*.form-actions > span.button > input.form-submit {*/
    /*box-sizing: border-box;*/
    /*padding: 7px;*/
    /*border: 1px solid #26C6DA;*/
    /*background-color: #26C6DA;*/
    /*color: #fff;*/
    /*font-size: 14px;*/
    /*cursor: pointer;*/
/*}*/
/*.form-actions > span.button > input.form-submit:hover {*/
    /*border: 1px solid #a8a8a8;*/
    /*background-color: transparent;*/
    /*color: #a8a8a8;*/
/*}*/

/*!* Datepicker *!*/
/*.webform-component--arrival > .webform-datepicker,*/
/*.webform-component--departure > .webform-datepicker {*/
    /*position: relative;*/
    /*display: grid;*/
    /*grid-template-areas: "a b c d";*/
    /*align-items: center;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker > div,*/
/*.webform-component--departure > .webform-datepicker > div {*/
    /*margin: 0;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker:after,*/
/*.webform-component--departure > .webform-datepicker:after {*/
    /*font-family: FontAwesome;*/
    /*content: "\f133";*/
    /*display: inline-block;*/
    /*font-size: 20px;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*text-align: center;*/
    /*color: #424242;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker input[type="image"],*/
/*.webform-component--departure > .webform-datepicker input[type="image"] {*/
    /*position: absolute;*/
    /*border: none;*/
    /*background: none;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*box-sizing: border-box;*/
    /*padding: 15px;*/
/*}*/

/*.webform-component--arrival > .webform-datepicker > div.form-item-submitted-arrival-month,*/
/*.webform-component--departure > .webform-datepicker > div.form-item-submitted-departure-month {*/
    /*grid-area: b;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker > div.form-item-submitted-arrival-day,*/
/*.webform-component--departure > .webform-datepicker > div.form-item-submitted-departure-day {*/
    /*grid-area: a;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker > div.form-item-submitted-arrival-year,*/
/*.webform-component--departure > .webform-datepicker > div.form-item-submitted-departure-year {*/
    /*grid-area: c;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker > input[type="image"],*/
/*.webform-component--departure > .webform-datepicker > input[type="image"] {*/
    /*grid-area: d;*/
/*}*/
/*.webform-component--arrival > .webform-datepicker:after,*/
/*.webform-component--departure > .webform-datepicker:after {*/
    /*grid-area: d;*/
/*}*/

/*!* Autofill *!*/
/*input:-webkit-autofill {*/
    /*-webkit-box-shadow: 0 0 0 30px #fff inset !important;*/
/*}*/
