/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media screen and (max-width: 1024px){

  body p, body a, body li, body button {
    font-size: 14px !important;
  }

  div#page {
    margin-top: 50px!important;
  }

  .region-content .block {
    padding: 40px 0 !important;
  }

  /* Breadcrumb */
  div#breadcrumb-wrapper {
    width: 100vw;
  }

  #breadcrumb-wrapper .grid-inner {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 640px){

  body p, body a, body li, body button {
    font-size: 12px !important;
  }
}




/* RESPONSIVE */
/*@media screen and (max-width: 1024px) {*/

/*  !* All pages *!*/
/*  .front-page .block-inner,*/
/*  div#map-header {*/
/*    padding: 0 !important;*/
/*    max-width: 750px !important;*/
/*    width: 75% !important;*/
/*  }*/



/*  !* Other blocks *!*/
/*  .region-content .block h2.block-title {*/
/*    font-size: 20px;*/
/*  }*/


/*  !* Activity page - Images slider *!*/
/*  .carousel-slider-item {*/
/*    width: calc(75vw/2 - 5px);*/
/*  }*/
/*  div#slider-image-zoom-container i {*/
/*    right: 7px;*/
/*    top: 7px;*/
/*    font-size: 14px;*/
/*    padding: 3px 5px;*/
/*  }*/

/*  !* Home page *!*/
/*  h2#memory-map-title {*/
/*    margin: 0 0 25px 0 !important;*/
/*    font-size: 20px !important;*/
/*  }*/

/*  ul.country-container > ul.city {*/
/*    display: block !important;*/
/*  }*/

/*}*/

/*@media screen and (max-width: 640px) {*/


/*  !*div#img-container > h2 {*!*/
/*  !*  width: 75%;*!*/
/*  !*}*!*/


/*  !* Homepage *!*/
/*  div#slider-container {*/
/*    height: 200px !important;*/
/*  }*/

/*  .front-page .block-inner,*/
/*  div#map-header {*/
/*    padding: 0 50px !important;*/
/*    width: 100% !important;*/
/*  }*/






/*  !* Activity page - Images slider *!*/
/*  .carousel-slider-item {*/
/*    width: 75vw;*/
/*    margin: 0;*/
/*  }*/

/*  !* Footer *!*/
/*  div#memory-footer {*/
/*    padding: 25px 0 65px 0 !important;*/
/*  }*/
/*}*/
