div#footer-wrapper div.grid-inner {
    padding: 0;
    border: none;
    margin: 0;
}

div#memory-footer {
    position: relative;
    background-color: #424242;
    color: #fff;
    padding: 25px 0;
}

div#memory-footer > div {
    width: 90% !important;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}

#footer-container {
    position: relative;
    display: grid;
    grid-template-areas:
            "a b c d e"
            "a b c d e"
            "a b c d e"
            "a f c d e"
            "g g g g g"
            "h h h h h";
    grid-gap: 0 50px;
    grid-template-columns: repeat(4, calc(21% - (200px/5))) calc(16% - (200px/5));
    grid-template-rows: auto auto auto 60px;
    text-align: left;
}

div#first-col {
    grid-area: a;
}
div#second-col {
    grid-area: b;
}
div#third-col {
    grid-area: c;
}
div#fourth-col {
    grid-area: d;
}
div#fifth-col {
    grid-area: e;
}
div#social-media-shortcuts {
    grid-area: f;
}
div#social-media-links {
    grid-area: g;
}
div#partners {
    grid-area: h;
}

div#footer-container > div#first-col > p,
div#footer-container > div#second-col > p,
div#footer-container > div#third-col > p,
div#footer-container > div#fourth-col > p {
    color: #d4d4d4 !important;
}
div#footer-container > div#first-col > p:nth-child(1),
div#footer-container > div#second-col > p:nth-child(1),
div#footer-container > div#third-col > p:nth-child(1),
div#footer-container > div#fourth-col > p:nth-child(1) {
    color: #fff !important;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 4px;
}
div#footer-container > div a {
    color: #d4d4d4;
}
div#footer-container > div a:visited {
    color: #d4d4d4;
}
div#footer-container > div a:hover {
    color: #26C6DA;
}

/* Footer - Social networks */
div#footer-container > div#social-media-links {
    margin-top: 25px;
}
div#footer-container > div#social-media-links > #header-social-media-links {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    margin-bottom: 25px;
}
div#footer-container div#header-social-media-links > #follow-us {
    margin: 0;
    text-align: center;
    color: #fff;
}
div#footer-container div#header-social-media-links > hr {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #d4d4d4;
    background-color: #424242;
    box-shadow: none;
    border-top: none;
}

div#footer-container div#social-media-links-container {
    text-align: center;
}
div#footer-container div#social-media-links-container > div {
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
}
div#footer-container div#social-media-links-container > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #d4d4d4;
  color: #d4d4d4;
}
div#footer-container div#social-media-links-container > div > a:hover {
    color: #26C6DA;
    border: 1px solid #26C6DA;
}

/* Partners */
div#footer-container > div#partners {
    margin-top: 50px;
    text-align: center;
}
div#footer-container > div#partners p {
    margin: 0;
}
