::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00000059;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00000059;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #00000059;
}
form.webform-client-form {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    margin: 0;
    padding: 50px 25px;
    box-sizing: border-box;
}

form.webform-client-form > div {
    position: relative;
    width: 700px;
    margin: auto;
    box-shadow: 1px 1px 5px #dbdbdb;
    padding: 25px 50px;
    background-color: #fff;
}

fieldset.contact_fieldset {
    margin: 0 0 50px 0;
    padding: 0;
    border: none;
}
fieldset.contact_fieldset input[type="text"],
fieldset.contact_fieldset input[type="email"],
fieldset.contact_fieldset select,
fieldset.contact_fieldset textarea {
    width: 100%;
    font-size: 12px;
    color: #000;
}

fieldset.contact_fieldset:last-of-type {
    margin-bottom: 0;
}

fieldset.contact_fieldset > legend {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5d5d5d;
    text-align: center;
    margin: 0 0 15px 0;
}

/* Fieldset - Contact details */

fieldset.webform-component--contact-details > .fieldset-content {
    display: grid;
    grid-template-areas: "a a b b b b c c c c" "d d d d e e e f f f" ". . . . . . . g g g";
    grid-template-columns: repeat(10, calc(10% - (20px*9)/10 ));
    grid-gap: 10px 20px;
}
.webform-component--contact-details--civility {
    grid-area: a;
}
.webform-component--contact-details--lastname {
    grid-area: b;
}
.webform-component--contact-details--firstname {
    grid-area: c;
}
.webform-component--contact-details--email {
    grid-area: d;
}
.webform-component--contact-details--phone {
    grid-area: e;
}
.webform-component--contact-details--nature-request {
    grid-area: f;
}
.webform-component--contact-details--others {
    grid-area: g;
}

.webform-component--contact-details .webform-component > label {
    margin: 5px 10px 5px 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #26C6DA;
}
.webform-component--contact-details .webform-component > input,
.webform-component--contact-details .webform-component > select {
    height: 27px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fff;
    padding: 5px;
}
.webform-component--contact-details .webform-component > input {
    padding: 5px 10px;
}

/* Fieldset - Quote request */

fieldset.webform-component--quote-request > .fieldset-content {
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-template-columns: repeat(3, calc(33.3333% - (20px*2)/3 ));
    grid-gap: 10px 20px;
}

.webform-component--quote-request--destination {
    grid-area: a;
}
.webform-component--quote-request--departure {
    grid-area: b;
}
.webform-component--quote-request--arrival {
    grid-area: c;
}
.webform-component--quote-request--group-size {
    grid-area: d;
}
.webform-component--quote-request--transport {
    grid-area: e;
}
.webform-component--quote-request--accomodation {
    grid-area: f;
}

.webform-component--quote-request .webform-component > label {
    margin: 5px 10px 5px 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #26C6DA;
}
.webform-component--quote-request .webform-component > input,
.webform-component--quote-request .webform-component > select {
    height: 27px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fff;
    padding: 5px;
}
.webform-component--quote-request .webform-component > .webform-datepicker {
    height: 27px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fff;
    padding: 0;
}
.webform-component--quote-request .webform-component > input {
    padding: 5px 10px;
}

.webform-datepicker {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 10px)) 30px;
}
.webform-datepicker .form-item {
    height: 100%;
    margin: 0;
}
.webform-datepicker .form-item > select {
    height: 100%;
    border: none;
    border-right: 1px solid #eeeeee;
}
.webform-datepicker > input[type="image"] {
    width: 20px;
    padding: 4px;
    margin: 0;
    border: 0;
}

/* Fieldset - Questions */

fieldset.webform-component--questions > .fieldset-content {
    grid-template-rows: repeat(2, 50%);
}

.webform-component--questions .webform-component > label {
    margin: 5px 10px 5px 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #26C6DA;
}
.webform-component--questions .webform-component > input,
.webform-component--questions .webform-component > select {
    height: 27px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fff;
    padding: 5px;
}
.webform-component--questions .webform-component > input {
    padding: 5px 10px;
}
.webform-component--questions .webform-component textarea {
    padding: 5px 10px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fff;
    resize: vertical;
}
.webform-component--questions .webform-component .grippie {
    height: 5px;
    border: none;
    background: #ffffff;
}

/* Submit button */

.form-actions input[type="submit"] {
    margin: auto;
    display: block;
}

/* Error fields */
fieldset.contact_fieldset input[type="text"].error,
fieldset.contact_fieldset input[type="email"].error,
fieldset.contact_fieldset select.error,
fieldset.contact_fieldset textarea.error {
    color: #ff6055;
    border: 1px solid #ffaba5;
    background-color: #f443360d;
}

.messages.error {
    color: #ff6055;
    border: 1px solid #ffaba5;
    background-color: #f443360d;
    margin: 0;
}
.messages.error ul > li {
    font-size: 12px;
}