/* SCROLLBAR */
::-webkit-scrollbar { /* width */
  width: 10px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: #424242;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: #000;
}

.front-page .region-content .block {
  position: relative;
  width: 75%;
  margin: 0;
  padding: 75px calc(25%/2);
}
.front-page .region-content .block:nth-child(even) {
  box-shadow: 0px -1px 5px #e9e9e9;
  background-color: #f1f1f1;
}
.front-page .region-content .block .block-inner {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){

  body p, body a, body li, body button {
    font-size: 14px !important;
  }

  div#page {
    margin-top: 50px !important;
  }

  .front-page .region-content .block {
    width: 85%;
    max-width: 750px;
    padding: 75px calc(15%/2);
  }

  .region-content .block h2.block-title {
    font-size: 20px !important;
  }

  /* Breadcrumb */
  div#breadcrumb-wrapper {
    width: 100vw;
  }

  #breadcrumb-wrapper .grid-inner {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 640px){

  body p, body a, body li, body button {
    font-size: 12px !important;
  }

  .front-page .region-content .block {
    padding: 35px calc(15%/2);
  }
}
