/**
 * Main Navigation
 */
#menu-bar-wrapper {
    position: absolute;
    right: 0;
    width: calc(100% - 275px);
    /*width: calc(100% - 200px);*/
    z-index: 499;
    padding: 15px 0;
}

#menu-bar-wrapper ul {
    width: 100% !important;
}

#menu-bar-wrapper .menu-bar {
    position: relative;
}

#menu-bar-wrapper .region-menu-bar {
    width: 100%;
}

.tb-megamenu li.tb-megamenu-item:hover > a {
    /*color: #26C6DA !important;*/
}

.tb-megamenu .mega.open > .mega-dropdown-menu,
.tb-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
    display: block;
    width: 100%;
    background-color: #fff;
    border: none;
    text-align: left;
}

div#menu-bar-wrapper > div > div {
    background-color: transparent;
    background-image:none;
}

div#menu-bar-wrapper > div > div > div > ul > li {
    margin: 0 7px;
}
div#menu-bar-wrapper > div > div > div > ul > li > a {
    /*background: #fff;*/
    background: transparent;
    /*color: #BDBDBD;*/
    color: #fff;
    padding: 10px 30px;
    /* border: 1px solid #fff; */
    border: none;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div#menu-bar-wrapper > div > div > div > ul > li > a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}
div#menu-bar-wrapper > div > div > div > ul > li.active > a {
    color: #fff;
    background: transparent;
    /* font-weight: bold; */
    border-bottom: 1px solid #fff;
}

/*div#menu-bar-wrapper > div > div > div > ul > li > a:hover {*/
/*border-bottom: 1px solid #424242;*/
/*color: #424242;*/
/*}*/
/*div#menu-bar-wrapper > div > div > div > ul > li.active > a {*/
/*color: #263238;*/
/*background: #F5F5F5;*/
/*}*/

div#menu-bar-wrapper > div > div > div > ul > li ul{
    background: #fff;
    color: #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div#menu-bar-wrapper > div > div > div > ul > li ul > li{
    border: none;
}
div#menu-bar-wrapper > div > div > div > ul > li ul > li > a{
    border: none;
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 10px;
}
div#menu-bar-wrapper > div > div > div > ul > li ul > li > a:hover{
    background: #F5F5F5;
    color: #424242;
}