/*form#devis {*/
/*    margin: auto;*/
/*    padding: 7.5%;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    display: grid;*/
/*    grid-template-areas: "a a b b" "c c d d" "e e e e" "f f f f" ". g g ." "h h h h" "i i i i" ". j j ." "k k k k";*/
/*    grid-template-columns: repeat(4, calc(25% - 15px*3/4));*/
/*    grid-gap: 15px;*/
/*}*/

/*div#location {*/
/*    grid-area: a;*/
/*}*/
/*div#participants {*/
/*  grid-area: b;*/
/*}*/
/*div#departure-date {*/
/*    grid-area: c;*/
/*}*/
/*div#return-date {*/
/*    grid-area: d;*/
/*}*/
/*div#budget {*/
/*    grid-area: e;*/
/*}*/
/*div#transport {*/
/*    grid-area: f;*/
/*}*/
/*button#empty-cart {*/
/*    grid-area: g;*/
/*}*/
/*div#trip-global-container {*/
/*    grid-area: h;*/
/*}*/
/*div#wish {*/
/*    grid-area: i;*/
/*}*/
/*button#validate-cart {*/
/*    grid-area: j;*/
/*}*/
/*div#total-quotation-cost {*/
/*  grid-area: k;*/
/*}*/

/*#location, #participants, #dates {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*}*/
/*div#departure-date,*/
/*div#return-date {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  align-items: center;*/
/*}*/
/*div#departure-date > i,*/
/*div#return-date > i {*/
/*  width: 20px !important;*/
/*}*/
/*div#departure-date > label,*/
/*div#return-date > label {*/
/*  width: calc(100% - 20px);*/
/*  font-size: 14px;*/
/*  margin: 0 !important;*/
/*  font-weight: normal;*/

/*}*/
/*div#departure-date > input,*/
/*div#return-date > input {*/
/*  width: calc(100% - 20px);*/
/*  margin-left: 20px;*/
/*}*/

/*form#devis input {*/
/*    border: none;*/
/*    border-bottom: 1px solid #21acbe;*/
/*    box-sizing: border-box;*/
/*    padding: 8px 0px;*/
/*    background-color: transparent;*/
/*    font-size: 14px;*/
/*    !*width: calc(100% - 25px);*!*/
/*    width: calc(100% - 20px);*/
/*}*/
/*form#devis input:focus,*/
/*form#devis input:hover {*/
/*  padding: 8px 10px;*/
/*}*/
/*form#devis input:hover {*/
/*    background-color: #fdfdfd;*/
/*    cursor: pointer;*/
/*}*/
/*form#devis i.fa {*/
/*    font-size: 14px;*/
/*    width: 20px;*/
/*}*/

/*form#devis select {*/
/*    border: 1px solid #21acbe;*/
/*    box-sizing: border-box;*/
/*    padding: 8px 15px;*/
/*    background-color: transparent;*/
/*    font-size: 14px;*/
/*    width: 100%;*/
/*}*/
/*form#devis select:hover {*/
/*    background-color: #fdfdfd;*/
/*    cursor: pointer;*/
/*}*/

/*form#devis label {*/
/*    margin-bottom: 10px;*/
/*}*/

/*button#empty-cart {*/
/*  box-sizing: border-box;*/
/*  padding: 5px 10px;*/
/*  border: 1px solid #ff8f00;*/
/*  background-color: #ff8f00;*/
/*  color: #fff;*/
/*  font-size: 14px;*/
/*  cursor: pointer;*/
/*  border-radius: 3px;*/
/*  margin-top: 20px;*/
/*}*/
/*button#empty-cart:hover {*/
/*    background-color: #fff;*/
/*    color: #ff8f00;*/
/*  border: 1px solid #ff8f00;*/
/*}*/

/*form#devis textarea {*/
/*    background: none;*/
/*    background-color: transparent;*/
/*    padding: 8px 15px;*/
/*    width: 100%;*/
/*    height: 75px;*/
/*    font-size: 12px;*/
/*    border: 1px solid #21acbe;*/
/*    resize: vertical;*/
/*}*/

/*form#devis textarea:hover {*/
/*    background-color: #fdfdfd;*/
/*    border: 1px solid #21acbe;*/
/*    cursor: pointer;*/
/*}*/

/* Trip days */
div.trip {
    position: relative;
    margin: 25px 0;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    box-sizing: border-box;
    padding: 25px 0;
}

.trip > h3.trip-city-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 25px 0;
  color: #424242;
}

.trip-days {
    margin: 0 0 25px 0;
    border-left: 1px solid #c4c4c4;
}
.trip-days:last-of-type {
    margin: 0;
}

.trip-days-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ededed;
    border-left: none;
    padding: 5px 15px;
    box-sizing: border-box;
    margin: 0;
}
.trip-days-header > i.fa-calendar-o {
    font-size: 18px !important;
    margin-right: 10px;
}
.trip-days-header > i.trip-delete-day,
.trip-days-header > i.trip-delete-default-day {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  font-size: 18px !important;
  padding: 7px 0px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
}
.trip-days-header > i.trip-delete-day:hover,
.trip-days-header > i.trip-delete-default-day:hover {
  color: #bbb;
}
.trip-days-header > p {
    margin: 0;
    font-size: 16px;
}
.trip-days-header button.btn-remove-day {
    position: absolute;
    height: 100%;
    border: none;
    background-color: #fff;
    padding: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
}
.trip-days-header button.btn-remove-day > i.fa {
    font-size: 16px;
    color: #d2d2d2;
}
.trip-days-header button.btn-remove-day:hover > i.fa {
    color: #000000;
}

.trip-days-body {
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}

.trip-days-body > div {
    margin-bottom: 20px;
}
.trip-days-body > div:last-of-type {
    margin-bottom: 0;
}

.trip-accommodation,
.trip-transfer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.trip-accommodation > p,
.trip-transfer > p {
    margin: 0 10px 0 0;
    font-size: 14px;
}
.trip-accommodation > button,
.trip-transfer > button {
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #21acbe;
    background-color: #21acbe;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    min-width: 160px;
}
.trip-accommodation > button:hover,
.trip-transfer > button:hover {
    background-color: #fdfdfd;
    color: #21acbe;
  border: 1px solid #21acbe;
}
.trip-transfer {
  margin: 0 0 25px 0;
  box-sizing: border-box;
  background-color: #fff;
}
.trip-transfer:last-of-type {
  margin: 25px 0 0 0;
}
.trip-transfer > p {
  padding-left: 15px;
}

.trip hr.transfer-separation {
  height: 1px;
  border: none;
  background-color: #c4c4c4;
  margin: 25px;
}

/* Design for activities, transfer*/
#trip-global-container .activities,
#trip-global-container .transfer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 70px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 5px;
}
#trip-global-container .activities:last-of-type,
#trip-global-container .transfer:last-of-type {
    margin-bottom: 0;
}
#trip-global-container .activities-img-container {
    height: 70px;
    width: 70px;
    overflow: hidden;
    margin-right: 10px;
}
#trip-global-container .activities-img-container > img {
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
#trip-global-container .activities-titles-container {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    overflow: hidden;
    width: calc(100% - (20px + 70px + 50px + 20px));
}
#trip-global-container .activities-titles-container > p {
    font-size: 14px;
    width: 100%;
    margin: 0;
    text-align: left;
}
#trip-global-container .activities-titles-container > p.activities-pack-title {
  font-size: 12px;
  font-style: italic;
}

#trip-global-container .activities-price-container {
  position: relative;
  width: 50px;
  text-align: center;
}
#trip-global-container .activities-price-container > p {
  margin: 0;
  font-size: 14px;
  color: #21acbe;
}

#trip-global-container .positioning-btn {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#trip-global-container button.btn-go-up,
#trip-global-container button.btn-go-down {
    height: 50%;
    padding: 0;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}
#trip-global-container button.btn-go-up {
    border-bottom: 1px solid #e9e9e9;
}
#trip-global-container button.btn-go-up > i.fa,
#trip-global-container button.btn-go-down > i.fa {
    font-size: 10px !important;
    width: 20px;
}

#trip-global-container button.btn-remove-activity,
#trip-global-container button.btn-remove-transfer {
    margin-left: auto;
    position: relative;
    height: 100%;
    width: 20px;
    border: none;
    border-left: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 0;
}
#trip-global-container button.btn-remove-activity > i.fa,
#trip-global-container button.btn-remove-transfer > i.fa {
    font-size: 14px;
    width: 20px;
}

#trip-global-container button:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

/*!* Design for hosting *!*/
/*.hosting {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    height: 70px;*/
/*    border: 1px solid #ededed;*/
/*    box-sizing: border-box;*/
/*    background-color: #ffffff;*/
/*    margin-bottom: 5px;*/
/*}*/
/*.hosting:last-of-type {*/
/*    margin-bottom: 0;*/
/*}*/
/*.hosting .activities-img-container {*/
/*    height: 70px;*/
/*    width: 70px;*/
/*    overflow: hidden;*/
/*    margin-right: 10px;*/
/*}*/
/*.hosting .activities-img-container > img {*/
/*    height: 100%;*/
/*    transform: translateX(-50%);*/
/*    left: 50%;*/
/*    position: relative;*/
/*}*/
/*.hosting > .activities-titles-container {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  height: 60px;*/
/*  overflow: hidden;*/
/*  width: calc(100% - (20px + 70px + 50px + 20px));*/
/*}*/
/*.hosting > .activities-titles-container > p {*/
/*  font-size: 14px;*/
/*  width: 100%;*/
/*  margin: 0;*/
/*  text-align: left;*/
/*}*/
/*.hosting > .activities-titles-container > p.activities-pack-title {*/
/*  font-size: 12px;*/
/*  font-style: italic;*/
/*}*/
/*!*.hosting > p {*!*/
/*!*    font-size: 14px;*!*/
/*!*    margin: 0;*!*/
/*!*}*!*/

/*.hosting .activities-price-container {*/
/*  position: relative;*/
/*  width: 50px;*/
/*  text-align: center;*/
/*}*/
/*.hosting .activities-price-container > p {*/
/*  margin: 0;*/
/*  font-size: 14px;*/
/*  color: #21acbe;*/
/*}*/

/*.hosting .positioning-btn {*/
/*    position: relative;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.hosting button.btn-go-up,*/
/*.hosting button.btn-go-down {*/
/*    height: 50%;*/
/*    padding: 0;*/
/*    border: none;*/
/*    background-color: #fff;*/
/*    box-sizing: border-box;*/
/*}*/
/*.hosting button.btn-go-up {*/
/*    border-bottom: 1px solid #e9e9e9;*/
/*}*/
/*.hosting button.btn-go-up > i.fa,*/
/*.hosting button.btn-go-down > i.fa {*/
/*    font-size: 10px !important;*/
/*    width: 20px;*/
/*}*/

/*.hosting button.btn-remove-activity {*/
/*    margin-left: auto;*/
/*    position: relative;*/
/*    height: 100%;*/
/*    border: none;*/
/*    border-left: 1px solid #e9e9e9;*/
/*    background-color: #fff;*/
/*    padding: 0;*/
/*}*/
/*.hosting button.btn-remove-activity > i.fa {*/
/*    font-size: 14px;*/
/*    width: 20px;*/
/*}*/

/*.hosting button:hover {*/
/*    cursor: pointer;*/
/*    background-color: #e9e9e9;*/
/*}*/

/* Design for transfer */
/*.transfer {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    height: 70px;*/
/*    border: 1px solid #ededed;*/
/*    box-sizing: border-box;*/
/*    background-color: #ffffff;*/
/*    margin-bottom: 5px;*/
/*}*/
/*.transfer:last-of-type {*/
/*    margin-bottom: 0;*/
/*}*/
/*.transfer .activities-img-container {*/
/*    height: 70px;*/
/*    width: 70px;*/
/*    overflow: hidden;*/
/*    margin-right: 10px;*/
/*}*/
/*.transfer .activities-img-container > img {*/
/*    height: 100%;*/
/*    transform: translateX(-50%);*/
/*    left: 50%;*/
/*    position: relative;*/
/*}*/
/*.transfer > .activities-titles-container {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  height: 60px;*/
/*  overflow: hidden;*/
/*  width: calc(100% - (20px + 70px + 50px + 20px));*/
/*}*/
/*.transfer > .activities-titles-container > p {*/
/*  font-size: 14px;*/
/*  width: 100%;*/
/*  margin: 0;*/
/*  text-align: left;*/
/*}*/
/*.transfer > .activities-titles-container > p.activities-pack-title {*/
/*  font-size: 12px;*/
/*  font-style: italic;*/
/*}*/
/*!*.transfer > p {*!*/
/*!*    font-size: 14px;*!*/
/*!*    margin: 0;*!*/
/*!*}*!*/


/*.transfer .activities-price-container {*/
/*  position: relative;*/
/*  width: 50px;*/
/*  text-align: center;*/
/*}*/
/*.transfer .activities-price-container > p {*/
/*  margin: 0;*/
/*  font-size: 14px;*/
/*  color: #21acbe;*/
/*}*/
/*.transfer .positioning-btn {*/
/*    position: relative;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.transfer button.btn-go-up,*/
/*.transfer button.btn-go-down {*/
/*    height: 50%;*/
/*    padding: 0;*/
/*    border: none;*/
/*    background-color: #fff;*/
/*    box-sizing: border-box;*/
/*}*/
/*.transfer button.btn-go-up {*/
/*    border-bottom: 1px solid #e9e9e9;*/
/*}*/
/*.transfer button.btn-go-up > i.fa,*/
/*.transfer button.btn-go-down > i.fa {*/
/*    font-size: 10px !important;*/
/*    width: 20px;*/
/*}*/

/*.transfer button.btn-remove-activity {*/
/*    margin-left: auto;*/
/*    position: relative;*/
/*    height: 100%;*/
/*    border: none;*/
/*    border-left: 1px solid #e9e9e9;*/
/*    background-color: #fff;*/
/*    padding: 0;*/
/*}*/
/*.transfer button.btn-remove-activity > i.fa {*/
/*    font-size: 14px;*/
/*    width: 20px;*/
/*}*/

/*.transfer button:hover {*/
/*    cursor: pointer;*/
/*    background-color: #e9e9e9;*/
/*}*/

button.btn-remove-city {
  position: absolute;
  top: 25px;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: min-content;
  height: 25px;
}
button.btn-remove-city > i.fa {
  font-size: 20px !important;
}
button.btn-remove-city:hover > i.fa {
  color: #e1e1e1;
}

/* USER CART - User is NOT logged in */
div#user-cart-user-not-logged-container,
div#user-cart-user-logged-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}
div#user-cart-user-not-logged-container > div,
div#user-cart-user-logged-container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 3px;
}
div#user-cart-user-not-logged-container > div > h2,
div#user-cart-user-logged-container > div > h2 {
  font-size: 24px;
  color: #16889b;
  text-transform: uppercase;
  margin: 0 0 35px 0;
  border: 2px solid #16889b;
  padding: 5px 15px;
  box-sizing: border-box;
}
div#user-cart-user-datas-container input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
  padding: 10px 0;
  font-size: 14px;
  color: #212121;
}
div#user-cart-user-datas-container > div {
  margin: 0 0 20px 0;
}
div#user-cart-user-datas-container > div:last-of-type {
  margin: 0;
}
div#user-cart-user-datas-container input::placeholder{
  color: #212121;
  text-transform: uppercase;
}
div#user-cart-user-datas-container input:-ms-input-placeholder{
  color: #212121;
  text-transform: uppercase;
}
div#user-cart-user-datas-container input::-ms-input-placeholder { /* Firefox, Chrome, Opera */
  color: #212121;
  text-transform: uppercase;
}

div#user-cart-user-datas-container > div:last-of-type {
  margin: 0;
  flex-direction: row;
  align-items: center;
}
div#user-cart-user-approval {
  margin-top: 35px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#user-cart-user-approval > input {
  width: auto;
  transform: scale(1.25);
  margin: 0 10px 0 0;
}
div#user-cart-user-approval > label {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
}

button#user-not-logged-validate-cart {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
button#user-not-logged-validate-cart:hover {
  background-color: #fff;
  color: #ff8f00;
  border: 1px solid #ff8f00;
}
button#user-not-logged-validate-cart {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 35px 0 0 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}

button#user-not-logged-remove-overlay,
button#user-logged-remove-overlay {
  position: absolute;
  top: 5px;
  right: 7px;
  border: 0;
  background-color: transparent;
  color: #212121;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}
button#user-not-logged-remove-overlay:hover,
button#user-logged-remove-overlay:hover{
  color: #e9e9e9;
}

/*button#validate-cart {*/
/*  box-sizing: border-box;*/
/*  padding: 5px 10px;*/
/*  border: 1px solid #ff8f00;*/
/*  background-color: #ff8f00;*/
/*  color: #fff;*/
/*  font-size: 14px;*/
/*  cursor: pointer;*/
/*  border-radius: 3px;*/
/*  margin: 15px 0;*/
/*}*/
/*button#validate-cart:hover {*/
/*  background-color: #fff;*/
/*  color: #ff8f00;*/
/*  border: 1px solid #ff8f00;*/
/*}*/
#user-cart-user-not-logged-container .user-alert-datas-lack {
  font-style: italic;
  color: #e85757;
}

#cart-container .user-alert-datas-lack {
  font-style: italic;
  color: #e85757;
  padding: 0 7.5%;
  margin: 0;
}

/* Total cost of the quotation */
div#total-quotation-cost > p:first-of-type {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
div#total-quotation-cost > p:last-of-type {
  margin: 10px 0 0 0;
  text-align: justify;
  font-size: 11px;
  font-style: italic;
}

/* User cart - Loader */
div#send-quotation-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.60);
  z-index: 9999;
}

div#send-quotation-loader .lds-dual-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  width: 75px;
  height: 75px;
}
div#send-quotation-loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 75px;
  height: 75px;
  margin: 1px;
  border-radius: 50%;
  border: 7px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: send-quotation-loader 1.2s linear infinite;
}
@keyframes send-quotation-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* User permission - Add new city */
div#user-add-new-city-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.60);
  z-index: 9999;
}
div#user-add-new-city-container div#user-add-new-city {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 999;
}
div#user-add-new-city-container div#user-add-new-city > p {
  margin: 0 0 25px 0;
}
div#user-add-new-city-container div#user-add-new-city > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
div#user-add-new-city-container button#user-add-new-city-accept,
div#user-add-new-city-container button#user-add-new-city-decline {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
div#user-add-new-city-container button#user-add-new-city-accept,
div#user-add-new-city-container button#user-add-new-city-decline {
  background-color: #fff;
  color: #ff8f00;
  border: 1px solid #ff8f00;
}

/* Menu - Button toggle cart */
#menu-tab-cart.toggle-user-cart {
  border: 1px solid #21acbe;
  background-color: #21acbe;
  border-radius: 3px;
  padding: 7px 12px;
  margin-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
button#menu-tab-cart.toggle-user-cart i {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
  width: 20px;
}
#menu-tab-cart.toggle-user-cart:hover {
  border: 1px solid #21acbe;
  background-color: #fff;
}
#menu-tab-cart.toggle-user-cart:hover i {
  color: #21acbe;
}


/* Main CSS */
.cart-hide {
  display: none;
}
.cart-show {
  display: block;
}
div#block-memory-cart-memory-cart {
  position: fixed;
  width: auto;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 90;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div#block-memory-cart-memory-cart > div.block-inner,
div#block-memory-cart-memory-cart > div.block-inner > div.block-content {
  margin: 0;
  padding: 0;
}
div#cart-container {
  position: relative;
  height: 100vh;
  top: 0;
  right: 0;
}

#cart-container .toggle-user-cart {
position: absolute;
left: -30px;
top: 50%;
z-index: 90;
width: 30px;
height: 60px;
background-color: #f7f7f7;
font: bold 12px Arial;
border-bottom-left-radius: 100px;
border-top-left-radius: 100px;
color: #ff8f00;
outline: none;
cursor: pointer;
box-shadow: 0px 2px 5px #bababa;
border: 1px solid #fff;
box-sizing: border-box;
}
#cart-container .toggle-user-cart:hover {
background-color: #fff;
border: 1px solid #ff8f00;
border-right: 1px solid #fff;
color: #ff8f00;
}
#cart-container .toggle-user-cart i:nth-child(1) {
display: none;
}

div#cart-container > div {
  width: calc(100vw/3);
  min-width: 450px;
  max-width: 750px;
overflow: scroll;
box-shadow: 1px 1px 5px #bbb;
}

div#cart-container > div > h2 {
margin: 25px 0 30px 0;
padding: 0 20px;
text-align: center;
color: #16889b;
font-size: 28px;
}

/* Form : Basic */
form#devis {
  position: relative;
  width: 100%;
  padding: 0 35px;
  box-sizing: border-box;
}

/* Form : Personnal data */
form#devis div#personnal-data {
  display: flex;
  flex-direction: column;
}
form#devis div#personnal-data > h3 {
  margin: 0 0 15px 0;
}
form#devis div#personnal-data > div:nth-of-type(1),
form#devis div#personnal-data > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
form#devis div#personnal-data > div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
form#devis div#personnal-data #firstname,
form#devis div#personnal-data #lastname,
form#devis div#personnal-data #email,
form#devis div#personnal-data #phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
form#devis #express-validation {
  text-align: center;
  margin: 0;
}
form#devis div#express-validation > p {
  margin: 0 0 5px 0;
  color: #21acbe;
}
form#devis #express-validate-cart {
  box-sizing: border-box;
  padding: 7px 15px;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}
form#devis #express-validate-cart:hover {
  background-color: #fff;
  color: #ff8f00;
  border: 1px solid #ff8f00;
}
form#devis div#personnal-data hr {
  margin: 30px 0;
}

/*form#devis > div:nth-child(1),*/
/*form#devis > div:nth-child(2) {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  margin-bottom: 15px;*/
/*}*/

/* Form : Quotation data */
form#devis div#quotation-data {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}
form#devis div#quotation-data > h3 {
  margin: 0 0 15px 0;
}
form#devis div#quotation-data > div:nth-of-type(1),
form#devis div#quotation-data > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
form#devis div#quotation-data > div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
form#devis div#quotation-data #location,
form#devis div#quotation-data #participants,
form#devis div#quotation-data #departure-date,
form#devis div#quotation-data #return-date {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
form#devis #budget {
  margin-bottom: 15px;
}

form#devis .clear-input {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px !important;
  color: #000;
  cursor: pointer;
}
form#devis .clear-input:hover {
  color: #bbb;
}

/* Start - Datepicker */
div.ui-datepicker {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #bbb;
}

.ui-datepicker-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.ui-datepicker-title {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 7px 0;
  box-sizing: border-box;
}

a.ui-datepicker-prev,
a.ui-datepicker-next {
  width: 50%;
  cursor: pointer;
  background-color: #21acbe;
  color: #fff;
  border: 1px solid #21acbe;
  box-sizing: border-box;
}
a.ui-datepicker-prev:hover,
a.ui-datepicker-next:hover {
  background-color: #fff;
  color: #21acbe;
}

a.ui-datepicker-current-day {}

td.ui-datepicker-current-day {
  position: relative;
}
td.ui-datepicker-current-day > a {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  background-color: #ff8f10;
  padding: 7px;
  border-radius: 50px;
  text-align: center;
}
/* End - Datepicker */

/*form#devis > div:nth-child(3) {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*form#devis > div:nth-child(3) label {*/
/*  margin-bottom: 10px;*/
/*}*/
/*form#devis > div:nth-child(3) div#budget {*/
/*  margin-bottom: 15px;*/
/*}*/

form#devis input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #21acbe;
  box-sizing: border-box;
  padding: 8px 0px;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #000;
}
form#devis select {
  border: 1px solid #21acbe;
  box-sizing: border-box;
  padding: 8px 15px;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  color: #000;
}
form#devis textarea {
  background: transparent;
  padding: 8px 15px;
  width: 100%;
  height: 75px;
  font-size: 12px;
  border: 1px solid #21acbe;
  resize: vertical;
  cursor: pointer;
  color: #000;
}
form#devis select:hover,
form#devis textarea:hover {
  background-color: #fdfdfd;
  border: 1px solid #21acbe;
}

form#devis i.fa {
  font-size: 14px;
  width: 20px;
}

form#devis hr {
  width: 100%;
  height: 1px;
  background-color: #bbb;
  border: none;
  margin: 50px 0;
}

/* Form : Quotation activities */
form#devis div#quotation-activities > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
form#devis button#empty-cart {
  border: 1px solid #21acbe;
  background-color: #21acbe;
  color: #fff;
  border-radius: 3px;
  padding: 7px;
  margin-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
form#devis button#empty-cart:hover {
  border: 1px solid #21acbe;
  background-color: #fff;
  color: #21acbe;
}


form#devis button#validate-cart {
  box-sizing: border-box;
  padding: 7px 15px;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  margin: 25px auto 25px 50%;
  transform: translateX(-50%);
}
form#devis button#validate-cart:hover {
  background-color: #fff;
  color: #ff8f00;
  border: 1px solid #ff8f00;
}

form#devis #trip-global-container #trip-disclaimer {
  font-style: italic;
  color: #e40e0e;
  font-size: 14px;
}
