div#block-memory-cart-memory-cart {
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 80px;*/
    /*width: 400px;*/
    /*background-color: #fff;*/
    /*padding: 0;*/
    /*height: calc(100vh - 94px);*/
    /*z-index: 50;*/
    /*box-shadow: -1px 0px 5px #bababa;*/
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    background-color: #fff;
    padding: 0;
    height: 100vh;
    z-index: 50;
    box-shadow: -1px 0px 5px #bababa;
    background-color: #f7f7f7;
}

button#btn-display {
    /*position: absolute;*/
    /*left: -30px;*/
    /*top: calc(50% - 30px);*/
    /*width: 30px;*/
    /*height: 60px;*/
    /*background-color: #f7f7f7;*/
    /*font: bold 12px Arial;*/
    /*border-bottom-left-radius: 100px;*/
    /*border-top-left-radius: 100px;*/
    /*color: #26C6DA;*/
    /*text-transform: uppercase;*/
    /*outline: none;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*box-shadow: 0px 2px 5px #bababa;*/
    position: absolute;
    z-index: 90;
    left: -30px;
    top: calc(50% - 30px);
    width: 30px;
    height: 60px;
    background-color: #f7f7f7;
    font: bold 12px Arial;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    color: #26C6DA;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px #bababa;
}
button#btn-display:hover {
    background-color: #26C6DA;
    color: #f7f7f7;
}

button#btn-display > i#icon-plus {
    display: none;
}

div#cart-container {
    /*z-index: 99;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #f7f7f7;*/
    /*border-left: 1px solid #fff;*/
    /*box-sizing: border-box;*/
    z-index: 99;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    overflow-y: scroll;
}

form#devis {
    /*margin: auto;*/
    /*width: 85%;*/
    /*display: grid;*/
    /*grid-template-areas: "a a b b" "c c c ." "d d d d" "e e e e" ". f f ." "g g g g" "h h h h";*/
    /*grid-gap: 25px;*/
    margin: auto;
    padding: 7.5%;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-areas: "a a b b" "c c c ." "d d d d" "e e e e" ". f f ." "g g g g" "h h h h";
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    background-color: #f7f7f7;
}

div#location {
    grid-area: a;
}
div#date {
    grid-area: b;
}
div#participants {
    grid-area: c;
}
div#budget {
    grid-area: d;
}
div#transport {
    grid-area: e;
}
button#empty-cart {
    grid-area: f;
}
div#trip {
    grid-area: g;
}
div#wish {
    grid-area: h;
}

div#cart-container > h1 {
    margin: 25px 0 50px 0;
    padding: 0 20px;
    text-align: center;
    color: #26C6DA;
}

/*form#devis > div {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*display: block;*/
/*}*/

form#devis input {
    border: none;
    border-bottom: 1px solid #26C6DA;
    box-sizing: border-box;
    padding: 8px 10px;
    background-color: transparent;
    font-size: 14px;
    width: calc(100% - 25px);
}
form#devis input:hover {
    background-color: #fdfdfd;
    cursor: pointer;
}
form#devis i.fa {
    font-size: 14px;
    width: 20px;
}

form#devis select {
    border: 1px solid #26C6DA;
    box-sizing: border-box;
    padding: 8px 15px;
    background-color: transparent;
    font-size: 14px;
    width: 100%;
}
form#devis select:hover {
    background-color: #fdfdfd;
    cursor: pointer;
}

form#devis label {
    margin-bottom: 10px;
}

button#empty-cart {
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #26C6DA;
    background-color: #26C6DA;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
button#empty-cart:hover {
    background-color: #fdfdfd;
    color: #26C6DA;
}

form#devis textarea {
    background: none;
    background-color: transparent;
    padding: 8px 15px;
    width: 100%;
    height: 75px;
    font-size: 12px;
    border: 1px solid #26C6DA;
}

form#devis textarea:hover {
    background-color: #fdfdfd;
    border: 1px solid #26C6DA;
    cursor: pointer;
}

/* Trip days */
div#trip {
    margin: 25px 0;
}

.trip-days {
    margin: 0 0 25px 0;
    border-left: 1px solid #c4c4c4;
}
.trip-days:last-of-type {
    margin: 0;
}

.trip-days-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ededed;
    border-left: none;
    padding: 5px 15px;
    box-sizing: border-box;
    margin: 0;
}
.trip-days-header > i.fa {
    font-size: 18px !important;
    margin-right: 10px;
}
.trip-days-header > p {
    margin: 0;
    font-size: 16px;
}

.trip-days-details {
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}

.trip-days-details > div {
    margin-bottom: 20px;
}
.trip-days-details > div:last-of-type {
    margin-bottom: 0;
}

.hosting-container,
.transfer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hosting-container > p,
.transfer-container > p {
    margin: 0 10px 0 0;
    font-size: 14px;
}
.hosting-container > button,
.transfer-container > button {
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #26C6DA;
    background-color: #26C6DA;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    min-width: 160px;
}
.hosting-container > button:hover,
.transfer-container > button:hover {
    background-color: #fdfdfd;
    color: #26C6DA;
}

/* Design for activities */
.activities {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.activities:last-of-type {
    margin-bottom: 0;
}
.activities .activities-img-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-right: 10px;
}
.activities .activities-img-container > img {
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
.activities > p {
    font-size: 14px;
    margin: 0;
}

.activities .positioning-btn {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.activities button.btn-go-up,
.activities button.btn-go-down {
    height: 50%;
    padding: 0;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}
.activities button.btn-go-up {
    border-bottom: 1px solid #e9e9e9;
}
.activities button.btn-go-up > i.fa,
.activities button.btn-go-down > i.fa {
    font-size: 10px !important;
    width: 20px;
}

.activities button.btn-remove-activity {
    margin-left: auto;
    position: relative;
    height: 100%;
    border: none;
    border-left: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 0;
}
.activities button.btn-remove-activity > i.fa {
    font-size: 14px;
    width: 20px;
}

.activities button:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

/* Design for hosting */
.hosting {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.hosting:last-of-type {
    margin-bottom: 0;
}
.hosting .activities-img-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-right: 10px;
}
.hosting .activities-img-container > img {
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
.hosting > p {
    font-size: 14px;
    margin: 0;
}

.hosting .positioning-btn {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hosting button.btn-go-up,
.hosting button.btn-go-down {
    height: 50%;
    padding: 0;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}
.hosting button.btn-go-up {
    border-bottom: 1px solid #e9e9e9;
}
.hosting button.btn-go-up > i.fa,
.hosting button.btn-go-down > i.fa {
    font-size: 10px !important;
    width: 20px;
}

.hosting button.btn-remove-activity {
    margin-left: auto;
    position: relative;
    height: 100%;
    border: none;
    border-left: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 0;
}
.hosting button.btn-remove-activity > i.fa {
    font-size: 14px;
    width: 20px;
}

.hosting button:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

/* Design for transfer */
.transfer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.transfer:last-of-type {
    margin-bottom: 0;
}
.transfer .activities-img-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-right: 10px;
}
.transfer .activities-img-container > img {
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
.transfer > p {
    font-size: 14px;
    margin: 0;
}

.transfer .positioning-btn {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.transfer button.btn-go-up,
.transfer button.btn-go-down {
    height: 50%;
    padding: 0;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}
.transfer button.btn-go-up {
    border-bottom: 1px solid #e9e9e9;
}
.transfer button.btn-go-up > i.fa,
.transfer button.btn-go-down > i.fa {
    font-size: 10px !important;
    width: 20px;
}

.transfer button.btn-remove-activity {
    margin-left: auto;
    position: relative;
    height: 100%;
    border: none;
    border-left: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 0;
}
.transfer button.btn-remove-activity > i.fa {
    font-size: 14px;
    width: 20px;
}

.transfer button:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}
