#memory-reviews-container > h2 {
  font-family: oswaldregular;
  font-size: 25px;
  text-align: center;
  margin: 0 0 15px 0;
  font-weight: normal;
}

div#reviews-image {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto 40px 0;
}

#memory-reviews-container > div#reviews-slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
#memory-reviews-container > div#reviews-slider > div.memory-group-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  height: auto;
  padding: 0;
  margin: 0;
}

.memory-review {
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d e";
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 15px 25px;
  background-color: white;
  margin-right: 25px;
  border: 1px solid #efefef;
  box-shadow: 1px 1px 5px #e1e1e1;
  border-radius: 3px;
}
.memory-review:last-of-type{
  margin:0;
}

.memory-review > p {
  margin: 0;
}

p.review-person {
  grid-area: a;
  font-weight: bold;
  color: #21acbe;
  padding-right: 15px;
  line-height: 1.2;
  text-align: left;
}
p.review-notation {
  grid-area: b;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 10px;
}
div.review-description {
  grid-area: c;
  margin: 25px 0;
  font-size: 12px;
}
p.review-nature {
  grid-area: d;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 12px;
  padding-right: 15px;
  line-height: 1.2;
}
p.review-date {
  grid-area: e;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-style: italic;
  font-size: 10px;
}

p.review-notation .fa-star {
  color: #00b67a;
}
p.review-notation .fa-star-o {
  color: #e1e1e1;
}

div#reviews-touchable-manager {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 9px;
}
div#reviews-touchable-manager > i {
  margin: 0 10px 0 0;
  cursor: pointer;
}

/*@media screen and (max-width: 640px) {*/
@media screen and (max-width: 1024px) {

  /* BLOC - Reviews */
  #memory-reviews-container > div#reviews-slider > div.memory-group-reviews {
    flex-direction: column !important;
    justify-content: unset !important;
  }
  div#reviews-slider .memory-group-reviews:not(:first-of-type) {
    display: none !important;
  }
  div#reviews-slider .memory-review {
    width: 100% !important;
    margin: 0 !important;
  }
  div#memory-reviews-container h2 {
    font-size: 20px;
    margin: 0 0 25px 0;
  }
  div.memory-group-reviews .memory-review:last-child {
    margin: 0 !important;
  }
  p.review-nature{
    text-align: left !important;
  }
  div#reviews-touchable-manager {
    margin: 25px 0 0 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  button#previous-review {
    background-color: #21acbe;
    border: 1px solid #21acbe;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 2px;
    position: relative;
    box-sizing: border-box;
    color: #fff;
    padding: 2px 25px;
    margin-right: 20px;
  }
  button#next-review {
    background-color: #21acbe;
    border: 1px solid #21acbe;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 2px;
    position: relative;
    box-sizing: border-box;
    color: #fff;
    padding: 2px 25px;
  }
}
